<!-- <ion-header>
  <ion-toolbar color="primary">
      <ion-title>Open Chat</ion-title>
      <ion-buttons slot="end">
          <ion-button fill="clear" (click)="signOut()">
              <ion-icon name="log-out" slot="icon-only"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-header>
    <ion-toolbar class="mg_sec">
        <ion-buttons slot="start">
            <ion-back-button text="Chat" ios="chevron-forward-outline" md="arrow-forward-outline" class="abt_sec"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-grid>
        <ion-row *ngFor="let message of messages | async">
            <ion-col size="9" class="message" [offset]="message.myMsg ? 3 : 0" [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }">
                <div class="chat_pk_list">
                    <h4>{{ message.fromName }}</h4>
                    <p>{{ message.msg }}</p>
                    <div class="time ion-text-right">
                        <span>{{ message.createdAt?.toMillis() | date:'short' }}</span>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer>
    <ion-toolbar color="light">
        <ion-row class="ion-align-items-center">
            <ion-col size="10">
                <ion-textarea autoGrow="true" placeholder="Enter some..." class="message-input" rows="1" maxLength="500" [(ngModel)]="newMsg">
                </ion-textarea>
            </ion-col>
            <ion-col size="2">
                <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn" (click)="sendMessage()">
                    <ion-icon name="send" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="chat_doc_list">
                    <div class="chat_org_lt">
                        <ion-icon name="document-text-outline"></ion-icon>
                    </div>
                    <div class="chat_org_lt">
                        <ion-icon name="camera-outline"></ion-icon>
                    </div>
                    <div class="chat_org_lt">
                        <ion-icon name="image-outline"></ion-icon>
                    </div>
                    <div class="chat_org_lt">
                        <ion-icon name="location-outline"></ion-icon>
                    </div>
                    <div class="chat_org_lt">
                        <ion-icon name="people-outline"></ion-icon>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>
