// chat
.chat_pk_list {
    padding: 6px 12px 12px;
    background: #222;
    border-radius: 0px 20px 0px 20px;
    h4 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 7px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p {
        font-size: 12px;
        color: #ddd;
        margin-bottom: 1px;
    }
    span {
        font-size: 10px;
        color: #929292;
    }
}

ion-footer {
    ion-toolbar {
        width: 100%;
    }
    .chat_doc_list {
        display: flex;
        justify-content: space-around;
        .chat_org_lt {
            ion-icon {
                font-size: 20px;
            }
        }
    }
}
