<ion-header>
  <ion-toolbar>
    <ion-title>mail-confirm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button (click)="refresh()">Refresh</button>
  <button (click)="resendEmail()">
    Resend Email
  </button>
</ion-content>
