.profile_info_part {
    ion-grid {
        padding: 0px;
    }
    .bg_pls_heg {
        height: 160px;
        background: #18c5ce;
        border-radius: 0px 0px 20px 20px;
        background-image: url(https://lp-cms-production.imgix.net/image_browser/london-big-ben.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .profile_camera {
            position: absolute;
            right: 15px;
            width: 32px;
            height: 32px;
            background: rgb(0 0 0 / 34%);
            border-radius: 5px;
            margin-top: 17px;
            text-align: center;
            padding-top: 6px;
            ion-icon {
                font-size: 20px;
            }
        }
        .back_profile_btn {
            position: absolute;
            margin-top: 16px;
            margin-left: 15px;
            width: 34px;
            height: 34px;
            background: rgb(0 0 0 / 49%);
            border-radius: 50px;
            text-align: center;
            padding-top: 4px;
            padding-right: 3px;
            ion-icon {
                font-size: 26px;
            }
        }
    }
    ion-card {
        border-radius: 10px;
        position: relative;
        bottom: 35px;
        padding: 20px;
        .profile_img_user {
            margin-left: auto;
            margin-right: auto;
            ion-img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;
                border: 2px solid #ffff;
                margin-left: auto;
                margin-right: auto;
            }
            ion-img::part(image) {
                border-radius: 50%;
            }
            .pro_img_camera {
                position: absolute;
                left: 90px;
                right: 0px;
                margin-left: auto;
                width: 30px;
                height: 30px;
                margin-right: auto;
                background: #00000085;
                border-radius: 50%;
                margin-top: -38px;
                color: #fff;
                padding-top: 6px;
                text-align: center;
                ion-icon {
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
        .profile_text_hap {
            text-align: center;
            h4 {
                font-size: 16px;
                margin-bottom: 4px;
                font-weight: bold;
                color: #fff;
            }
            p {
                font-size: 10px;
                color: #ddd;
                margin-bottom: 0px;
            }
        }
        .follow_dsg_part {
            display: flex;
            justify-content: center;
            border-top: 1px solid #373737;
            margin-top: 15px;
            h3 {
                font-size: 16px;
                font-weight: bold;
                color: #fff;
                margin-bottom: 2px;
            }
            p {
                font-size: 12px;
                color: #ddd;
            }
            .follow_pq {
                text-align: center;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        .follow_button {
            margin-top: 20px;
            ion-button {
                width: 100%;
                margin-bottom: 0px;
            }
        }
    }
    .about_part_heg {
        ion-card {
            h3 {
                font-size: 16px;
                font-weight: bold;
                color: #ddd;
                margin-bottom: 4px;
                margin-top: 0px;
            }
            p {
                font-size: 11px;
                color: #ddd;
                line-height: 20px;
            }
        }
    }
    // experience_profile_user
    .experience_profile_user {
        .prd_exp {
            padding-top: 12px !important;
        }
        ion-card {
            .heading_exp_od {
                margin-bottom: 24px;
                h3 {
                    font-size: 16px;
                    font-weight: bold;
                    color: #ddd;
                    margin-top: 10px;
                }
            }
            .exp_brt {
                margin-bottom: 14px;
                border-bottom: 1px solid #373737;
                padding-bottom: 15px;
                .company_img {
                    ion-img {
                        width: 50px;
                        height: 50px;
                        border-radius: 5px;
                        object-fit: cover;
                    }
                    ion-img::part(image) {
                        border-radius: 5px;
                    }
                    svg {
                        width: 40px;
                        height: 40px;
                    }
                }
                .company_name_str {
                    padding-left: 15px;
                    h3 {
                        font-size: 14px;
                        font-weight: bold;
                        color: #fff;
                        margin-bottom: 0px;
                        margin-top: 0px;
                    }
                    h4 {
                        font-size: 12px;
                        color: #ddd;
                        margin-bottom: 4px;
                        margin-top: 5px;
                    }
                    p {
                        color: #ddd;
                        font-size: 10px;
                        margin-bottom: 0px;
                    }
                    span {
                        font-size: 10px;
                        float: right;
                        padding-top: 15px;
                        color: #ddd;
                    }
                }
                .current_job_icon {
                    float: right;
                    padding-top: 5px;
                    ion-icon {
                        color: #07c407;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .hobbies_part_heg {
        ion-card {
            h3 {
                font-size: 16px;
                font-weight: bold;
                color: #ddd;
                margin-bottom: 16px;
                margin-top: 0px;
            }
            ion-chip {
                font-size: 12px;
            }
        }
    }
    .other_info_section {
        h3 {
            font-size: 16px;
            font-weight: bold;
            color: #ddd;
            margin-bottom: 16px;
            margin-top: 0px;
        }
        .tht_part {
            margin-bottom: 12px;
            .profile_other {
                ion-icon {
                    font-size: 20px;
                    color: #fff;
                }
            }
            .profile_other_heading {
                h3 {
                    font-size: 13px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 12px;
                    color: #ddd;
                }
            }
        }
    }
}