<ion-header>
    <ion-toolbar class="mg_sec">
        <ion-buttons slot="start">
            <ion-back-button text="Profile info" ios="chevron-forward-outline" md="arrow-forward-outline" class="abt_sec"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="profile_info_part">
        <div class="bg_pls_heg">
            <!-- <div class="back_profile_btn">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </div> -->
            <div class="profile_camera">
                <ion-icon name="camera-outline"></ion-icon>
            </div>
        </div>
        <ion-grid>
            <ion-card>
                <ion-row>
                    <ion-col size="12">
                        <div class="profile_img_user">
                            <ion-img src="https://us.123rf.com/450wm/vadymvdrobot/vadymvdrobot2003/vadymvdrobot200300051/142744663-image-of-a-young-strong-happy-cheery-sports-man-posing-outdoors-in-nature-green-park-looking-camera-.jpg?ver=6"></ion-img>
                            <div class="pro_img_camera">
                                <ion-icon name="camera-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="profile_text_hap">
                            <h4>Sumanta dutta</h4>
                            <p>Durgapur, west bengal</p>
                        </div>
                        <div class="follow_dsg_part">
                            <div class="follow_pq">
                                <h3>254</h3>
                                <p>Following</p>
                            </div>
                            <div class="follow_pq">
                                <h3>10k</h3>
                                <p>Followers</p>
                            </div>
                        </div>
                        <div class="follow_button">
                            <ion-button color="primary">Follow</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card>
            <div class="about_part_heg">
                <ion-card>
                    <h3>About</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                </ion-card>
            </div>

            <div class="experience_profile_user">
                <ion-card class="prd_exp">
                    <div class="heading_exp_od">
                        <h3>Experience</h3>
                    </div>
                    <div class="exp_brt">
                        <div class="current_job_icon">
                            <ion-icon name="checkmark-circle"></ion-icon>
                        </div>
                        <ion-row>
                            <ion-col size="2">
                                <div class="company_img">
                                    <ion-img src="https://cdn.vox-cdn.com/thumbor/K1GvvOA6ThucTOHVIavCrFng0vI=/0x0:4500x3000/1200x800/filters:focal(1890x1140:2610x1860)/cdn.vox-cdn.com/uploads/chorus_image/image/63227703/1132277707.jpg.0.jpg"></ion-img>
                                </div>
                            </ion-col>
                            <ion-col size="10">
                                <div class="company_name_str">
                                    <h3>Solutions Engineer</h3>
                                    <h4>IBM</h4>
                                    <p>Kolkata, west bengal</p>
                                    <span>Anr 2019- jun 2020</span>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div class="exp_brt">
                        <ion-row>
                            <ion-col size="2">
                                <div class="company_img">
                                    <ion-img src="https://mma.prnewswire.com/media/449425/TATA_CONSULTANCY_SERVICES_Logo.jpg?p=facebook"></ion-img>
                                </div>
                            </ion-col>
                            <ion-col size="10">
                                <div class="company_name_str">
                                    <h3>UI/UX</h3>
                                    <h4>Tata consultancy services</h4>
                                    <p>Kolkata, west bengal</p>
                                    <span>Anr 2019- jun 2020</span>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card>
            </div>

            <!-- education part -->
            <div class="experience_profile_user">
                <ion-card class="prd_exp">
                    <div class="heading_exp_od">
                        <h3>Education</h3>
                    </div>
                    <div class="exp_brt">
                        <ion-row>
                            <ion-col size="2">
                                <div class="company_img">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 791.803 791.803" style="enable-background:new 0 0 512 512" xml:space="preserve"
                                        class=""><g>
                                  <g xmlns="http://www.w3.org/2000/svg">
                                    <path d="M395.904,475.016l-236.203-72.7v71.524v49.896c0,56.133,105.787,101.644,236.274,101.644   c130.48,0,236.285-45.511,236.285-101.644c0-0.442-0.145-0.886-0.154-1.318V402.316L395.904,475.016z" fill="#ffffff" data-original="#000000" class=""></path>
                                    <path d="M0,318.734l84.383,30.185l7.191-15.401l31-2.635l4.42,4.599l-26.601,6.308l-3.877,11.475   c-0.007,0-60.087,125.604-51.263,187.05c0,0,37.502,22.37,74.988,0l9.962-168v-13.984l55.8-12.588l-3.941,9.705l-41.604,13.529   l19.242,6.874l236.203,72.7l236.201-72.7l159.699-57.116l-395.9-152.313L0,318.734z" fill="#ffffff" data-original="#000000" class=""></path>
                                  </g>

                                  </g></svg>
                                </div>
                            </ion-col>
                            <ion-col size="10">
                                <div class="company_name_str">
                                    <h3>Bankura Sammilani College</h3>
                                    <h4>Chemistry</h4>
                                    <p>Kolkata, west bengal</p>
                                    <span>Anr 2019- jun 2020</span>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>

                </ion-card>
            </div>
            <!-- End education part -->

            <!-- other info -->

            <div class="other_info_section">
                <ion-card>
                    <div class="heading_exp_od">
                        <h3>Other info</h3>
                    </div>
                    <div class="tht_part">
                        <ion-row>
                            <ion-col size="2">
                                <div class="profile_other">
                                    <ion-icon name="person-outline"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col size="10">
                                <div class="profile_other_heading">
                                    <h3>Gander</h3>
                                    <p>Male</p>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div class="tht_part">
                        <ion-row>
                            <ion-col size="2">
                                <div class="profile_other">
                                    <ion-icon name="calendar-outline"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col size="10">
                                <div class="profile_other_heading">
                                    <h3>Birthday</h3>
                                    <p>11 Apr 1995</p>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div class="tht_part">
                        <ion-row>
                            <ion-col size="2">
                                <div class="profile_other">
                                    <ion-icon name="person-add-outline"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col size="10">
                                <div class="profile_other_heading">
                                    <h3>Religion</h3>
                                    <p>Hinduism</p>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div class="tht_part">
                        <ion-row>
                            <ion-col size="2">
                                <div class="profile_other">
                                    <ion-icon name="person-add-outline"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col size="10">
                                <div class="profile_other_heading">
                                    <h3>Relationship</h3>
                                    <p>Single</p>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card>
            </div>
            <!--End other info -->



            <div class="hobbies_part_heg">
                <ion-card>
                    <h3>Hubbies</h3>
                    <ion-chip>
                        <ion-label>Camping</ion-label>
                    </ion-chip>
                    <ion-chip>
                        <ion-label>Hunting</ion-label>
                    </ion-chip>
                    <ion-chip>
                        <ion-label>Fishing</ion-label>
                    </ion-chip>
                    <ion-chip>
                        <ion-label>Archery</ion-label>
                    </ion-chip>
                </ion-card>
            </div>
        </ion-grid>
    </div>
</ion-content>
