<ion-header>
    <ion-toolbar class="mg_sec">
        <ion-buttons slot="start">
            <ion-back-button text="Following request" ios="chevron-forward-outline" md="arrow-forward-outline" class="abt_sec"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="follwing_req_section">
        <ion-grid>
            <div class="count_follw_request">
                <h3>153 request</h3>
            </div>
            <div class="flw_card">
                <ion-row>
                    <ion-col size="2">
                        <div class="follwing_req_img">
                            <ion-img src="https://img.freepik.com/free-photo/young-handsome-man-with-beard-isolated-keeping-arms-crossed-frontal-position_1368-132662.jpg?size=626&ext=jpg"></ion-img>
                        </div>
                    </ion-col>
                    <ion-col size="5">
                        <div class="following_heading">
                            <h3>Sumanta dutta</h3>
                            <p>Solution engineer (IBM)</p>
                        </div>
                    </ion-col>
                    <ion-col size="5">
                        <div class="son_btn_dlt">
                            <div class="following_crm">
                                <ion-button>Confirm</ion-button>
                            </div>
                            <div class="following_det">
                                <ion-button>Delete</ion-button>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="flw_card">
                <ion-row>
                    <ion-col size="2">
                        <div class="follwing_req_img">
                            <ion-img src="https://images.unsplash.com/photo-1599834562135-b6fc90e642ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmVhcmRlZCUyMG1hbnxlbnwwfHwwfHw%3D&w=1000&q=80"></ion-img>
                        </div>
                    </ion-col>
                    <ion-col size="5">
                        <div class="following_heading">
                            <h3>Raj pal</h3>
                            <p>Solution engineer (IBM)</p>
                        </div>
                    </ion-col>
                    <ion-col size="5">
                        <div class="son_btn_dlt">
                            <div class="following_crm">
                                <ion-button>Confirm</ion-button>
                            </div>
                            <div class="following_det">
                                <ion-button>Delete</ion-button>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="flw_card">
                <ion-row>
                    <ion-col size="2">
                        <div class="follwing_req_img">
                            <ion-img src="https://images.pexels.com/photos/3916455/pexels-photo-3916455.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></ion-img>
                        </div>
                    </ion-col>
                    <ion-col size="5">
                        <div class="following_heading">
                            <h3>Puja burnwal</h3>
                            <p>Software engineer (TCS)</p>
                        </div>
                    </ion-col>
                    <ion-col size="5">
                        <div class="son_btn_dlt">
                            <div class="following_crm">
                                <ion-button>Confirm</ion-button>
                            </div>
                            <div class="following_det">
                                <ion-button>Delete</ion-button>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="flw_card">
                <ion-row>
                    <ion-col size="2">
                        <div class="follwing_req_img">
                            <ion-img src="https://media.istockphoto.com/photos/fit-man-standing-outdoors-in-a-city-picture-id1299360127?b=1&k=20&m=1299360127&s=170667a&w=0&h=1Rvw_UPTnj1LkB543cuCjiLM0xbIdjjin0rw6yaL8bc="></ion-img>
                        </div>
                    </ion-col>
                    <ion-col size="5">
                        <div class="following_heading">
                            <h3>Ayan das</h3>
                            <p>Software engineer (TCS)</p>
                        </div>
                    </ion-col>
                    <ion-col size="5">
                        <div class="son_btn_dlt">
                            <div class="following_crm">
                                <ion-button>Confirm</ion-button>
                            </div>
                            <div class="following_det">
                                <ion-button>Delete</ion-button>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="flw_card">
                <ion-row>
                    <ion-col size="2">
                        <div class="follwing_req_img">
                            <ion-img src="https://img.freepik.com/free-photo/young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair_285396-896.jpg?size=626&ext=jpg"></ion-img>
                        </div>
                    </ion-col>
                    <ion-col size="5">
                        <div class="following_heading">
                            <h3>Priya mukherjee</h3>
                            <p>Software engineer (TCS)</p>
                        </div>
                    </ion-col>
                    <ion-col size="5">
                        <div class="son_btn_dlt">
                            <div class="following_crm">
                                <ion-button>Confirm</ion-button>
                            </div>
                            <div class="following_det">
                                <ion-button>Delete</ion-button>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="flw_card">
                <ion-row>
                    <ion-col size="2">
                        <div class="follwing_req_img">
                            <ion-img src="https://www.cdc.gov/ncbddd/hemophilia/features/images/women-posing-skyline-700px.jpg"></ion-img>
                        </div>
                    </ion-col>
                    <ion-col size="5">
                        <div class="following_heading">
                            <h3>Bulti saha</h3>
                            <p>Software engineer (TCS)</p>
                        </div>
                    </ion-col>
                    <ion-col size="5">
                        <div class="son_btn_dlt">
                            <div class="following_crm">
                                <ion-button>Confirm</ion-button>
                            </div>
                            <div class="following_det">
                                <ion-button>Delete</ion-button>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>
    </div>
</ion-content>
