.follwing_req_section {
    padding-top: 5px;
    .flw_card {
        border-bottom: 1px solid #1b1b1b;
        padding-bottom: 6px;
        margin-bottom: 6px;
    }
    .count_follw_request {
        margin-bottom: 14px;
        margin-left: 2px;
        h3 {
            font-size: 18px;
            font-weight: bold;
            margin-top: 2px;
        }
    }
    .follwing_req_img {
        ion-img {
            width: 40px;
            height: 40px;
            object-fit: cover;
        }
        ion-img::part(image) {
            border-radius: 50%;
        }
    }
    .following_heading {
        h3 {
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 2px;
            margin-top: 4px;
        }
        p {
            font-size: 10px;
            color: #ddd;
        }
    }
    .son_btn_dlt {
        display: flex;
        justify-content: flex-end;
        .following_crm {
            margin-right: 5px;
            ion-button {
                padding: 0px;
                font-size: 10px;
                height: 32px;
                border-radius: 5px;
                text-transform: capitalize;
                width: 100%;
            }
        }
        .following_det {
            ion-button {
                padding: 0px;
                font-size: 10px;
                height: 32px;
                color: rgb(255, 255, 255);
                border-radius: 5px;
                width: 100%;
                --background: transparent;
                text-transform: capitalize;
                border: 2px solid rgb(255, 255, 255);
            }
        }
    }
}
