.notification_sec {
    padding-top: 5px;
    ion-card {
        margin: 0px 5px 0px 5px;
        border-radius: 5px;
        margin-bottom: 8px;
        padding: 12px 5px 0px 5px;
        h3 {
            font-size: 13px;
            font-weight: bold;
            color: rgb(255, 255, 255);
            margin-bottom: 2px;
            margin-top: 0px;
        }
        p {
            font-size: 11px;
            color: #ddd;
            margin-top: 0px;
            margin-bottom: 5px;
        }
        span {
            font-size: 10px;
            color: #ddd;
        }
        ion-icon {
            font-size: 15px;
            color: #fff;
            padding-top: 4px;
        }
    }
    ion-avatar {
        ion-img {
            width: 42px;
            height: 42px;
            object-fit: cover;
        }
    }
}
