<ion-header>
    <ion-toolbar class="mg_sec">
        <ion-buttons slot="start">
            <ion-back-button text="Notification" ios="chevron-forward-outline" md="arrow-forward-outline" class="abt_sec"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="notification_sec">
        <ion-grid>
            <ion-card class="ion-activatable">
                <ion-row>
                    <ion-col size="2">
                        <ion-avatar>
                            <ion-img src="https://media.istockphoto.com/photos/smiling-man-outdoors-in-the-city-picture-id1179420343?k=20&m=1179420343&s=612x612&w=0&h=G2UGMVSzAXGAQs3pFZpvWlHNRAzwPIWIVtSOxZHsEuc=" class="ion_apx"></ion-img>
                        </ion-avatar>
                    </ion-col>
                    <ion-col size="9">
                        <ion-text>
                            <h3 class="bns_ellipsis">Sumanta dutta</h3>
                            <p class="bns_ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <span>20 dec 2021</span>
                        </ion-text>
                    </ion-col>
                    <ion-col size="1" class="des_icon">
                        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
            <ion-card class="ion-activatable">
                <ion-row>
                    <ion-col size="2">
                        <ion-avatar>
                            <ion-img src="https://cdn.vox-cdn.com/thumbor/kUlr8wG81uJaW-XFb5r_kAfJnPg=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22824229/03_YTLM_S1_FX_Yorick_3788_F.jpg" class="ion_apx"></ion-img>
                        </ion-avatar>
                    </ion-col>
                    <ion-col size="9">
                        <ion-text>
                            <h3 class="bns_ellipsis">Sumanta dutta</h3>
                            <p class="bns_ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <span>20 dec 2021</span>
                        </ion-text>
                    </ion-col>
                    <ion-col size="1" class="des_icon">
                        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
            <ion-card class="ion-activatable">
                <ion-row>
                    <ion-col size="2">
                        <ion-avatar>
                            <ion-img src="https://i0.wp.com/post.healthline.com/wp-content/uploads/2021/11/man-hands-on-head-hair-1296-728-header.jpg?w=1155&h=1528" class="ion_apx"></ion-img>
                        </ion-avatar>
                    </ion-col>
                    <ion-col size="9">
                        <ion-text>
                            <h3 class="bns_ellipsis">Sumanta dutta</h3>
                            <p class="bns_ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <span>20 dec 2021</span>
                        </ion-text>
                    </ion-col>
                    <ion-col size="1" class="des_icon">
                        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
            <ion-card class="ion-activatable">
                <ion-row>
                    <ion-col size="2">
                        <ion-avatar>
                            <ion-img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWFufGVufDB8fDB8fA%3D%3D&w=1000&q=80" class="ion_apx"></ion-img>
                        </ion-avatar>
                    </ion-col>
                    <ion-col size="9">
                        <ion-text>
                            <h3 class="bns_ellipsis">Sumanta dutta</h3>
                            <p class="bns_ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <span>20 dec 2021</span>
                        </ion-text>
                    </ion-col>
                    <ion-col size="1" class="des_icon">
                        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
        </ion-grid>
    </div>
</ion-content>
