<ion-header>
    <ion-toolbar class="mg_sec">
        <ion-buttons slot="start">
            <ion-back-button text="Privacy" ios="chevron-forward-outline" md="arrow-forward-outline" class="abt_sec"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="privacy_setting_chnage">
        <div class="prv_content">
            <ion-item>
                <ion-icon name="person-outline" slot="start"></ion-icon>
                <ion-label position="stacked">Change name</ion-label>
                <ion-input placeholder="Enter your name"></ion-input>
            </ion-item>
        </div>
        <div class="prv_content">
            <ion-item>
                <ion-icon name="mail-outline" slot="start"></ion-icon>
                <ion-label position="stacked">Change email</ion-label>
                <ion-input placeholder="Enter your email"></ion-input>
            </ion-item>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button expand="block" color="white">Save</ion-button>
    </ion-toolbar>
</ion-footer>
