.privacy_setting_chnage {
    margin-top: 10px;
    .prv_content {
        margin-bottom: 10px;
    }
}

ion-footer {
    ion-button {
        margin-left: 10px;
        margin-right: 10px;
        background: #00bcd4;
        border-radius: 5px;
        text-transform: capitalize;
    }
}
