.list_of_settings {
    padding-top: 8px;
    .set_of_part {
        border-bottom: 1px solid #1f1f1f;
        padding-bottom: 10px;
        margin-bottom: 10px;
        padding-left: 8px;
        padding-right: 10px;
        .setting_list_ic {
            ion-icon {
                font-size: 20px;
            }
        }
        .heding_prv {
            h4 {
                margin: 0px;
                font-size: 14px;
                font-weight: bold;
                padding-left: 10px;
                padding-top: 2px;
            }
        }
    }
}

.log_out_pkl {
    margin-left: 10px;
    margin-right: 10px;
    ion-button {
        height: 42px;
        color: #00bcd4;
        text-transform: capitalize;
        font-size: 15px;
        font-weight: bold;
        background: #121212;
        border-radius: 5px;
    }
}
