<ion-header>
    <ion-toolbar class="mg_sec">
        <ion-buttons slot="start">
            <ion-back-button text="Settings" ios="chevron-forward-outline" md="arrow-forward-outline" class="abt_sec"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="list_of_settings">
        <ion-grid>
            <div class="set_of_part" routerLink="/privacy">
                <ion-row>
                    <ion-col size="1">
                        <div class="setting_list_ic">
                            <ion-icon name="shield-half-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="11">
                        <div class="heding_prv">
                            <h4>Privacy</h4>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="set_of_part">
                <ion-row>
                    <ion-col size="1">
                        <div class="setting_list_ic">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="11">
                        <div class="heding_prv">
                            <h4>Security</h4>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="set_of_part">
                <ion-row>
                    <ion-col size="1">
                        <div class="setting_list_ic">
                            <ion-icon name="notifications-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="11">
                        <div class="heding_prv">
                            <h4>Notifications</h4>
                        </div>
                    </ion-col>
                </ion-row>
            </div>

            <div class="set_of_part">
                <ion-row>
                    <ion-col size="1">
                        <div class="setting_list_ic">
                            <ion-icon name="information-circle-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="11">
                        <div class="heding_prv">
                            <h4>Help</h4>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="set_of_part">
                <ion-row>
                    <ion-col size="1">
                        <div class="setting_list_ic">
                            <ion-icon name="help-circle-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="11">
                        <div class="heding_prv">
                            <h4>FAQ</h4>
                        </div>
                    </ion-col>
                </ion-row>
            </div>

            <div class="set_of_part" routerLink="/more-settings">
                <ion-row>
                    <ion-col size="1">
                        <div class="setting_list_ic">
                            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="11">
                        <div class="heding_prv">
                            <h4>More</h4>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="log_out_pkl">
            <ion-button expand="block" color="white" (click)="userLogout()">Logout</ion-button>
        </div>
    </ion-toolbar>
</ion-footer>
