<ion-header>
    <ion-toolbar class="mg_sec">
        <ion-buttons slot="start">
            <ion-back-button text="Job details" ios="chevron-forward-outline" md="arrow-forward-outline" class="abt_sec"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="job_details">
        <div class="card_frnd">
            <div class="full_card_details">
                <ion-row>
                    <ion-col>
                        <div class="heading_job_det">
                            <h3>Software Engineer
                            </h3>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="2">
                        <div class="jobs_img">
                            <ion-img src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202106/tcs_logo_1200_020621101143.jpg?size=1200:675"></ion-img>
                        </div>
                    </ion-col>
                    <ion-col size="9">
                        <div class="job_titile_details">
                            <p>Tata Consultancy Services </p>
                            <span>Kolkata, west bengal</span><br>
                            <span>10 Dec 2021</span>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <div class="job_option_icon">
                            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
                <div class="job_res_prt">
                    <ion-row>
                        <ion-col size="1">
                            <div class="profile_other">
                                <ion-icon name="mail-outline"></ion-icon>
                            </div>
                        </ion-col>
                        <ion-col size="10">
                            <div class="profile_other_heading">
                                <h3>Email</h3>
                                <p>sanjeet2012.k@gmail.com
                                </p>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="job_res_prt">
                    <ion-row>
                        <ion-col size="1">
                            <div class="profile_other">
                                <ion-icon name="call-outline"></ion-icon>
                            </div>
                        </ion-col>
                        <ion-col size="10">
                            <div class="profile_other_heading">
                                <h3>Phone</h3>
                                <p>+9193824086
                                </p>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="job_res_prt">
                    <ion-row>
                        <ion-col size="1">
                            <div class="profile_other">
                                <ion-icon name="list-outline"></ion-icon>
                            </div>
                        </ion-col>
                        <ion-col size="10">
                            <div class="profile_other_heading">
                                <h3>Type</h3>
                                <p>Full time</p>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="job_res_prt">
                    <ion-row>
                        <ion-col size="1">
                            <div class="profile_other">
                                <ion-icon name="podium-outline"></ion-icon>
                            </div>
                        </ion-col>
                        <ion-col size="10">
                            <div class="profile_other_heading">
                                <h3>Industry</h3>
                                <p>Marketing & Sales
                                </p>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="job_res_prt">
                    <ion-row>
                        <ion-col size="1">
                            <div class="profile_other">
                                <ion-icon name="invert-mode-outline"></ion-icon>
                            </div>
                        </ion-col>
                        <ion-col size="10">
                            <div class="profile_other_heading">
                                <h3>Experience</h3>
                                <p>10 yesrs
                                </p>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="job_res_prt">
                    <ion-row>
                        <ion-col size="1">
                            <div class="profile_other">
                                <ion-icon name="reader-outline"></ion-icon>
                            </div>
                        </ion-col>
                        <ion-col size="10">
                            <div class="profile_other_heading">
                                <h3>Responsibilities
                                </h3>
                                <p>Develop quality software in C++ (v11, v14, v17) and web applications Must be >3 yrs of work experience Analyze and maintain existing software applications Design highly scalable, testable code Discover and fix programming
                                    bugs
                                </p>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="job_res_prt">
                    <ion-row>
                        <ion-col size="1">
                            <div class="profile_other">
                                <ion-icon name="flash-outline"></ion-icon>
                            </div>
                        </ion-col>
                        <ion-col size="10">
                            <div class="profile_other_heading">
                                <h3>Qualifications</h3>
                                <p>Bachelor's degree or equivalent experience in Computer Science or related field
                                </p>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="jobs_apply_part">
            <div class="job_det">
                <ion-button expand="block" color="white">Apply</ion-button>
            </div>
            <div class="job_det">
                <ion-button expand="block" color="white">Save</ion-button>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>
