.job_details {
    .card_frnd {
        .full_card_details {
            border-radius: 5px;
            padding: 5px;
            margin: 6px;
            .heading_job_det {
                margin-bottom: 12px;
                h3 {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 3px;
                    color: #fff;
                    margin-top: 0px;
                }
            }
            .job_option_icon {
                ion-icon {
                    font-size: 20px;
                }
            }
            .jobs_img {
                ion-img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                }
                ion-img::part(image) {
                    border-radius: 5px;
                }
            }
            .job_titile_details {
                padding-top: 0px;
                padding-left: 10px;
                p {
                    font-size: 14px;
                    margin: 0px 0px 0px 0px;
                    color: #fcfcfc;
                    font-weight: bold;
                }
                span {
                    font-size: 10px;
                    color: #ddd;
                }
            }
            .job_res_prt {
                .profile_other {
                    padding-top: 16px;
                    padding-left: 2px;
                    ion-icon {
                        font-size: 18px;
                        color: #fff;
                    }
                }
                .profile_other_heading {
                    padding-left: 8px;
                    h3 {
                        font-size: 13px;
                        margin-bottom: 2px;
                        color: #fff;
                    }
                    p {
                        font-size: 12px;
                        margin-bottom: 0px;
                        line-height: 20px;
                        color: #c0c0c0;
                    }
                }
            }
            .job_option_icon {
                ion-icon {
                    font-size: 16px;
                }
            }
        }
    }
}

.jobs_apply_part {
    display: flex;
    justify-content: center;
    .job_det {
        width: 100%;
        margin-right: 10px;
        margin-left: 5px;
        ion-button {
            background: #00bcd4;
            border-radius: 5px;
            width: 100%;
            height: 42px;
            text-transform: capitalize;
        }
    }
}
