.pc_sec_part {
    padding-top: 2px;
    h4 {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 4px;
        position: relative;
        margin-top: 3px;
    }
    p {
        font-size: 12px;
        color: #ddd;
        line-height: 21px;
    }
}

.pc_sec_part h4:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 9px;
    left: 15px;
    margin-left: -14px;
    background-color: #00bcd4;
}

.pc_sec_part h4:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 52px;
    margin-left: -50px;
    background-color: #00bcd4;
}
