<ion-header>
    <ion-toolbar class="mg_sec">
        <ion-buttons slot="start">
            <ion-back-button text="Groups" ios="chevron-forward-outline" md="arrow-forward-outline" class="abt_sec"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="group_list_shw">
        <div class="chip_video_list">
            <div class="category_list">
                <ion-chip>Suggestion group</ion-chip>
                <ion-chip class="active"> My group</ion-chip>
                <ion-chip>joined group</ion-chip>
            </div>
        </div>
        <div class="video_search">
            <ion-searchbar></ion-searchbar>
        </div>
        <!-- suggest groups -->
        <div class="suggest_grp_list">
            <div class="suggest_section_part">
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <div class="card_suggest_aw">
                                <ion-card routerLink="/group-details">
                                    <div class="business_img_suggest">
                                        <ion-img src="https://www.holidify.com/images/bgImages/KOLKATA.jpg"></ion-img>
                                    </div>
                                    <div class="business_heading_suggest">
                                        <div class="group_join_img">
                                            <ul>
                                                <li class="">
                                                    <ion-img src="https://media.istockphoto.com/photos/smiling-man-outdoors-in-the-city-picture-id1179420343?k=20&m=1179420343&s=612x612&w=0&h=G2UGMVSzAXGAQs3pFZpvWlHNRAzwPIWIVtSOxZHsEuc="></ion-img>
                                                </li>
                                                <li class="img_grp_opcity">
                                                    <ion-img src="https://media.istockphoto.com/photos/portrait-of-a-smiling-student-at-the-city-street-picture-id1147289240?k=20&m=1147289240&s=612x612&w=0&h=sEx-9oXUdDRMqZF0o1viaumUjAud3Lsr9QxWAqrW3ks="></ion-img>
                                                </li>
                                                <li class="img_grp_opcity">
                                                    <ion-img src="https://t4.ftcdn.net/jpg/02/14/74/61/360_F_214746128_31JkeaP6rU0NzzzdFC4khGkmqc8noe6h.jpg"></ion-img>
                                                </li>
                                            </ul>
                                        </div>
                                        <h3>kolkata groups</h3>
                                        <p>Software,Computer</p>
                                        <p>1k Members</p>
                                        <span>10 jan 2021</span>
                                    </div>
                                </ion-card>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div class="card_suggest_aw">
                                <ion-card routerLink="/group-details">
                                    <div class="business_img_suggest">
                                        <ion-img src="https://i.natgeofe.com/n/4def1048-f5e5-4973-ad3a-e188a97d363f/regents-street-london-england.jpg"></ion-img>
                                    </div>
                                    <div class="business_heading_suggest">
                                        <div class="group_join_img">
                                            <ul>
                                                <li class="">
                                                    <ion-img src="https://media.istockphoto.com/photos/smiling-man-outdoors-in-the-city-picture-id1179420343?k=20&m=1179420343&s=612x612&w=0&h=G2UGMVSzAXGAQs3pFZpvWlHNRAzwPIWIVtSOxZHsEuc="></ion-img>
                                                </li>
                                                <li class="img_grp_opcity">
                                                    <ion-img src="https://media.istockphoto.com/photos/portrait-of-a-smiling-student-at-the-city-street-picture-id1147289240?k=20&m=1147289240&s=612x612&w=0&h=sEx-9oXUdDRMqZF0o1viaumUjAud3Lsr9QxWAqrW3ks="></ion-img>
                                                </li>

                                            </ul>
                                        </div>
                                        <h3>Regents-street</h3>
                                        <p>Software,Computer</p>
                                        <p>1k Members</p>
                                        <span>10 jan 2021</span>
                                    </div>
                                </ion-card>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div class="card_suggest_aw">
                                <ion-card routerLink="/group-details">
                                    <div class="business_img_suggest">
                                        <ion-img src="https://i.natgeofe.com/n/93231b5d-3b4f-4bd6-bcf4-4172ebda2011/parliment-square-london-england.jpg"></ion-img>
                                    </div>
                                    <div class="business_heading_suggest">
                                        <div class="group_join_img">
                                            <ul>
                                                <li class="">
                                                    <ion-img src="https://media.istockphoto.com/photos/smiling-man-outdoors-in-the-city-picture-id1179420343?k=20&m=1179420343&s=612x612&w=0&h=G2UGMVSzAXGAQs3pFZpvWlHNRAzwPIWIVtSOxZHsEuc="></ion-img>
                                                </li>
                                                <li class="img_grp_opcity">
                                                    <ion-img src="https://media.istockphoto.com/photos/portrait-of-a-smiling-student-at-the-city-street-picture-id1147289240?k=20&m=1147289240&s=612x612&w=0&h=sEx-9oXUdDRMqZF0o1viaumUjAud3Lsr9QxWAqrW3ks="></ion-img>
                                                </li>
                                                <li class="img_grp_opcity">
                                                    <ion-img src="https://t4.ftcdn.net/jpg/02/14/74/61/360_F_214746128_31JkeaP6rU0NzzzdFC4khGkmqc8noe6h.jpg"></ion-img>
                                                </li>
                                            </ul>
                                        </div>
                                        <h3>Parliment square</h3>
                                        <p>Software,Computer</p>
                                        <p>1k Members</p>
                                        <span>10 jan 2021</span>
                                    </div>
                                </ion-card>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </div>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
