.group_list_shw {
    .chip_video_list {
        margin-bottom: 10px;
        .category_list {
            margin-left: 10px;
            overflow: auto;
            white-space: nowrap;
            padding-top: 8px;
            margin-right: 10px;
        }
        .active {
            background: linear-gradient( -45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        }
    }
    .video_search {
        ion-searchbar {
            --background: #1f1f1f;
        }
    }
    .suggest_grp_list {
        .card_suggest_aw {
            ion-card {
                margin: 0px;
                .business_img_suggest {
                    ion-img {
                        width: 100%;
                        height: 100px;
                        border-radius: 5px 5px 0px 0px;
                        object-fit: cover;
                    }
                }
                .business_heading_suggest {
                    padding: 10px 10px 15px 10px;
                    h3 {
                        font-size: 14px;
                        font-weight: bold;
                        color: #fff;
                        margin-top: 0px;
                        margin-bottom: 6px;
                    }
                    p {
                        font-size: 10px;
                        margin-bottom: 6px;
                    }
                    span {
                        font-size: 10px;
                        color: #ddd;
                    }
                    .group_join_img {
                        ul {
                            margin: 0;
                            padding-left: 0;
                            position: absolute;
                            margin-top: -28px;
                            li {
                                display: inline-block;
                                ion-img {
                                    width: 22px;
                                    height: 22px;
                                    object-fit: cover;
                                    border: 2px solid #fff;
                                    border-radius: 50%;
                                }
                                ion-img::part(image) {
                                    border-radius: 50%;
                                }
                            }
                            .img_grp_opcity {
                                margin-left: -5px;
                                position: relative;
                                z-index: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}