.feed_list_view {
    .tp_vd_heading {
        margin-left: 12px;
        h3 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 12px;
        }
    }
    // .top_videos_feed {
    //     margin-top: 0px;
    //     margin-left: 10px;
    //     overflow: auto;
    //     white-space: nowrap;
    //     .card_video_feed {
    //         width: 100px;
    //         display: inline-block;
    //         margin-right: 10px;
    //         position: relative;
    //         ion-img {
    //             height: 150px;
    //             width: 100%;
    //             object-fit: cover;
    //             --border-radius: 5px;
    //         }
    //         ion-img::part(image) {
    //             border-radius: 5px;
    //         }
    //         .video_heading {
    //             position: absolute;
    //             margin-top: 111%;
    //             margin-left: 4px;
    //             ion-img {
    //                 width: 35px !important;
    //                 height: 34px !important;
    //                 border-radius: 50%;
    //                 border: 3px solid #fff;
    //             }
    //             ion-img::part(image) {
    //                 border-radius: 50px;
    //             }
    //         }
    //     }
    // }
    .create_post_videos {
        margin-left: 10px;
        overflow: auto;
        white-space: nowrap;
        padding-top: 8px;
        margin-right: 10px;
        ion-button {
            --background: #222;
            --border-radius: 50px;
            font-size: 12px;
            text-transform: capitalize;
            ion-icon {
                font-size: 18px;
                margin-right: 5px;
            }
            span {
                position: relative;
                bottom: 4px;
            }
        }
        .active {
            --background: linear-gradient( -45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) !important;
        }
    }
    // feeds css
    .post_list_card {
        ion-card {
            ion-card-header {
                padding: 10px 0px 0px 10px;
                ion-img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }
                ion-text {
                    h3 {
                        font-size: 14px;
                        margin-bottom: 0px;
                        margin-top: 0px;
                        color: #fff;
                        font-weight: bold;
                    }
                    p {
                        font-size: 11px;
                        margin-bottom: 1px;
                        margin-top: 1px;
                    }
                }
                ion-note {
                    font-size: 10px;
                }
                .right_elp {
                    float: right;
                    margin-right: 12px;
                    ion-icon {
                        font-size: 20px;
                        color: #fff;
                    }
                }
            }
            ion-card-content {
                p {
                    color: #fff;
                    line-height: 20px;
                    font-size: 13px;
                }
            }
            .piko_feed_img {
                ion-img::part(image) {
                    border-radius: 5px;
                }
            }
            .likes_ol {
                margin-left: 6px;
            }
            .post_views {
                float: right;
                margin-right: 15px;
                padding-top: 15px;
                p {
                    font-size: 10px;
                    color: #d9d9d9;
                }
            }
            .likes_cm_piko {
                padding-bottom: 15px;
                border-top: 1px solid #393939;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 8px;
                ion-label {
                    position: relative;
                    top: 6px;
                    ion-icon {
                        margin-right: 6px;
                        font-size: 16px;
                        position: relative;
                        top: 2px;
                    }
                }
                .right_share {
                    float: right;
                }
            }
            .likes_ol {
                ion-chip {
                    font-size: 12px;
                }
            }
        }
        // jobs ui css
        .job_suggestion_list {
            .suggest_heading_jobs {
                h3 {
                    font-size: 17px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    margin-left: 14px;
                    margin-top: 18px;
                }
            }
            .job_list_card {
                margin-left: 10px;
                overflow: auto;
                white-space: nowrap;
                padding-top: 8px;
                margin-right: 0px;
                .job_section_dev {
                    margin-right: 10px;
                    display: inline-block;
                    width: 150px;
                    ion-card {
                        padding: 15px 10px 15px 10px;
                        text-align: left;
                        margin: 0px;
                        .jobs_img {
                            margin-bottom: 12px;
                            ion-img {
                                width: 50px;
                                height: 50px;
                                border-radius: 5px;
                                object-fit: cover;
                            }
                            ion-img::part(image) {
                                border-radius: 5px;
                            }
                        }
                        .job_decription {
                            h3 {
                                font-size: 13px;
                                color: #fff;
                                margin-bottom: 3px;
                                margin-top: 0px;
                                font-weight: bold;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            p {
                                font-size: 10px;
                                margin-bottom: 5px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            span {
                                color: #ddd;
                                font-size: 10px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .tag_date_jobs {
                            padding-top: 22px;
                            display: flex;
                            justify-content: space-between;
                            ion-icon {
                                color: #fff;
                                font-size: 16px;
                            }
                            span {
                                font-size: 10px;
                                color: #b4b4b4;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }
    }
}

// header csss
ion-toolbar {
    height: 68px;
    padding-top: 10px !important;
    ion-grid {
        padding: 0px;
    }
    .piko_header_img {
        ion-img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 2px solid #ddd;
            margin-left: 9px;
        }
    }
    .piko_user_heading {
        h3 {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 2px;
            margin-top: 2px;
        }
        p {
            font-size: 10px;
            color: #ddd;
            margin-bottom: 0px;
            margin-top: 3px;
        }
    }
    .user_right {
        display: flex;
        justify-content: flex-end;
        .sm_bnsk {
            background: #121212;
            border-radius: 50px;
            width: 38px;
            height: 38px;
            margin-right: 5px;
            text-align: center;
            padding-top: 9px;
            ion-icon {
                font-size: 20px;
                color: #fff;
            }
            .badge_open2 {
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background: #ff0606;
                z-index: 1;
                position: absolute;
                margin-left: 11px;
                margin-top: -3px;
            }
            .badge_open1 {
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background: #ff0606;
                z-index: 1;
                position: absolute;
                margin-left: 14px;
                margin-top: -3px;
            }
        }
    }
}
