<ion-content>
    <div class="choose_section">
        <ion-row>
            <ion-col size="12">
                <div class="heading_sec">
                    <h3>Please choose workspace</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <div class="pv_card_sec">
                    <ion-card routerLink="/tabs">
                        <div class="sm_icon" style="background: linear-gradient(#ffa949, firebrick);">
                            <ion-icon name="bag-outline"></ion-icon>
                        </div>
                        <div class="sm_text_dg">
                            <h5>Job seeker</h5>
                        </div>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="pv_card_sec">
                    <ion-card routerLink="/tabs">
                        <div class="sm_icon" style="background: linear-gradient(#4981ff, #b2224a);">
                            <ion-icon name="bag-outline"></ion-icon>
                        </div>
                        <div class="sm_text_dg">
                            <h5>Job provider</h5>
                        </div>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="pv_card_sec">
                    <ion-card routerLink="/tabs">
                        <div class="sm_icon" style="background: linear-gradient(#b71485, #e55959);">
                            <ion-icon name="bag-outline"></ion-icon>
                        </div>
                        <div class="sm_text_dg">
                            <h5>Student</h5>
                        </div>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="pv_card_sec">
                    <ion-card>
                        <div class="sm_icon" style="background: linear-gradient(#ffe949, #22b297);">
                            <ion-icon name="bag-outline"></ion-icon>
                        </div>
                        <div class="sm_text_dg">
                            <h5>Freelance</h5>
                        </div>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="pv_card_sec">
                    <ion-card>
                        <div class="sm_icon" style="background: linear-gradient(#2b96d5, #e34825);">
                            <ion-icon name="bag-outline"></ion-icon>
                        </div>
                        <div class="sm_text_dg">
                            <h5>Others</h5>
                        </div>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
