.pv_card_sec ion-card {
    padding: 30px 15px 20px 15px;
    border-radius: 5px;
    margin: 0px 5px 0px 5px;
}

.choose_section {
    padding-top: 8%;
}

.sm_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px;
    color: #fff;
    border: 2px solid #fdfdfd;
    ion-icon {
        font-size: 18px;
    }
}

.sm_text_dg h5 {
    font-size: 13px;
    color: #fff;
}

.heading_sec {
    h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    p {
        font-size: 11px;
        color: #c9c9c9;
        line-height: 17px;
    }
}

.heading_sec {
    margin-bottom: 20px;
}

.heading_sec {
    margin-bottom: 26px;
    padding-left: 6px;
    margin-right: 14px;
}
