<ion-content>
    <div class="piko_login">
        <div class="main_logo">
            <ion-row>
                <ion-col size="6">
                    <h3>
                        PIKO
                        <ion-icon name="wifi"></ion-icon>
                    </h3>
                </ion-col>
                <ion-col size="6">
                    <span routerLink="/login">Login</span>
                </ion-col>
            </ion-row>
        </div>

        <div class="login_part">
            <div class="create_text">
                <h3>Create your profile</h3>
            </div>
            <form [formGroup]="signupForm" (ngSubmit)="signupUser()">
                <div class="login_card">
                    <div class="lgh">
                    <ion-item>
                        <ion-label position="floating">Name</ion-label>
                        <ion-icon name="person-outline" slot="start"></ion-icon>
                        <ion-input type="text" autocomplete="off" placeholder="Enter your name" formControlName="name"></ion-input>
                    </ion-item>
                    <ion-text color="danger" *ngIf="signupForm.get('name').invalid && signupForm.get('name').touched">
                        <p class="mgt_bns"><small>Enter valid name</small></p>
                    </ion-text>
                    </div>
                    <div class="lgh">
                        <ion-item>
                            <ion-label position="floating">Email</ion-label>
                            <ion-icon name="mail-outline" slot="start"></ion-icon>
                            <ion-input type="text" autocomplete="off" placeholder="Enter your email" formControlName="email"></ion-input>
                        </ion-item>
                        <ion-text color="danger" *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched">
                            <p class="mgt_bns"><small>Enter valid email</small></p>
                        </ion-text>
                    </div>
                    
                    <div class="lgh">
                        
                        <ion-item>
                            
                            <ion-label position="floating">Password</ion-label>
                            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                            <ion-icon [name]="passwordIcon1" slot="end" (click)="changeIcon1()" class="pws_cbm"></ion-icon>
                            <ion-input [type]="(passwordType1) ? 'text':'password'" autocomplete="off" placeholder="Enter your password" formControlName="password"></ion-input>
                        </ion-item>
                        <ion-text color="danger" *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched">
                            <p class="mgt_bns"><small>Enter valid password</small></p>
                        </ion-text>
                    </div>
                   
                    <div class="lgh">
                        <ion-item>
                            <ion-label position="floating">Confirm Password</ion-label>
                            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                            <ion-icon [name]="passwordIcon" slot="end" (click)="changeIcon()" class="pws_cbm"></ion-icon>
                            <ion-input [type]="(passwordType) ? 'text':'password'" autocomplete="off" placeholder="Enter your confirm password" formControlName="confirmPassword"></ion-input>
                        </ion-item>
                        <ion-text color="danger" *ngIf="signupForm.get('confirmPassword').invalid && signupForm.get('confirmPassword').touched">
                            <p class="mgt_bns"><small>Enter valid confirm Password</small></p>
                        </ion-text>
                    </div>
                    
                    <div class="sign_privacy">
                        <p>By clicking Sign Up, you agree to our <span>Terms of Use </span>, <span>Privacy Policy</span> and <span>Cookie Policy</span>.
                        </p>
                    </div>
                    <!-- [disabled]="signupForm.invalid" -->
                    <ion-button (click)="onSignup()" type="submit" [disabled]="signupForm.invalid">Sign up</ion-button>
                </div>

                <div class="down_sign_part">
                    <ion-text>Already have an account? <span routerLink="/login">Login</span></ion-text>
                </div>
            </form>
        </div>
    </div>
</ion-content>