<ion-header>
    <ion-toolbar class="mg_sec">
        <ion-buttons slot="start">
            <ion-back-button text="Favorite videos" ios="chevron-forward-outline" md="arrow-forward-outline" class="abt_sec"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="piko_video_list">
        <div class="video_list_user">
            <ion-card class="ion-activatable" routerLink="/video-details">
                <div class="video_img">
                    <div class="fav_videos_icon">
                        <ion-icon name="heart"></ion-icon>
                    </div>
                    <ion-img src="https://i.ytimg.com/vi/Oozz4APJpiM/maxresdefault.jpg"></ion-img>
                </div>
                <div class="video_heading">
                    <h3>Dhamaal | Superhit Comedy Movie | Arshad Warsi - Vijay Raaz - Asrani -Javed Jaffery | Comedy</h3>
                    <p>Sumanta Dutta</p>
                    <span>1M views | 6 month ago</span>
                </div>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
            <ion-card class="ion-activatable">
                <div class="video_img">
                    <div class="fav_videos_icon">
                        <ion-icon name="heart"></ion-icon>
                    </div>
                    <ion-img src="https://static.toiimg.com/photo/msid-81431598/81431598.jpg"></ion-img>
                </div>
                <div class="video_heading">
                    <h3>Dhamaal | Superhit Comedy Movie | Arshad Warsi - Vijay Raaz - Asrani -Javed Jaffery | Comedy</h3>
                    <p>Sumanta Dutta</p>
                    <span>1M views | 6 month ago</span>
                </div>
                <ion-ripple-effect></ion-ripple-effect>

            </ion-card>
            <ion-card class="ion-activatable">
                <div class="video_img">
                    <div class="fav_videos_icon">
                        <ion-icon name="heart"></ion-icon>
                    </div>
                    <ion-img src="https://english.cdn.zeenews.com/sites/default/files/styles/zm_700x400/public/2019/03/20/771469-ranbir-deepika-holi.jpg"></ion-img>
                </div>
                <div class="video_heading">
                    <h3>Dhamaal | Superhit Comedy Movie | Arshad Warsi - Vijay Raaz - Asrani -Javed Jaffery | Comedy</h3>
                    <p>Sumanta Dutta</p>
                    <span>1M views | 6 month ago</span>
                </div>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
        </div>
    </div>
</ion-content>
