.activity_part_om {
    .chip_activity_list {
        .category_list {
            margin-left: 10px;
            overflow: auto;
            white-space: nowrap;
            padding-top: 8px;
            margin-right: 10px;
        }
        .active {
            background: linear-gradient( -45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        }
    }
    ion-card {
        ion-card-header {
            padding: 10px 0px 0px 10px;
            ion-img {
                width: 40px;
                height: 40px;
                object-fit: cover;
            }
            ion-text {
                h3 {
                    font-size: 14px;
                    margin-bottom: 0px;
                    margin-top: 0px;
                    color: #fff;
                    font-weight: bold;
                }
                p {
                    font-size: 11px;
                    margin-bottom: 1px;
                    margin-top: 1px;
                }
            }
            ion-note {
                font-size: 10px;
            }
            .right_elp {
                float: right;
                margin-right: 12px;
                ion-icon {
                    font-size: 20px;
                    color: #fff;
                }
            }
        }
        ion-card-content {
            p {
                color: #fff;
                line-height: 20px;
                font-size: 13px;
            }
        }
        .piko_feed_img {
            ion-img::part(image) {
                border-radius: 5px;
            }
        }
        .likes_ol {
            margin-left: 6px;
        }
        .likes_cm_piko {
            padding-bottom: 15px;
            border-top: 1px solid #393939;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 8px;
            ion-label {
                position: relative;
                top: 6px;
                ion-icon {
                    margin-right: 6px;
                    font-size: 16px;
                    position: relative;
                    top: 2px;
                }
            }
            .right_share {
                float: right;
            }
        }
        .likes_ol {
            ion-chip {
                font-size: 12px;
            }
        }
    }
}
