<ion-header>
    <ion-toolbar class="mg_sec">
        <ion-buttons slot="start">
            <ion-back-button text="activity" ios="chevron-forward-outline" md="arrow-forward-outline" class="abt_sec"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="activity_part_om">
        <div class="chip_activity_list">
            <div class="category_list">
                <ion-chip class="active">Activity</ion-chip>
                <ion-chip>My posts</ion-chip>
                <ion-chip>Interested</ion-chip>
            </div>
        </div>
        <div class="post_activity_card">
            <ion-card>
                <ion-card-header>
                    <ion-row>
                        <ion-col size="2">
                            <ion-avatar>
                                <ion-img src="https://t4.ftcdn.net/jpg/02/14/74/61/360_F_214746128_31JkeaP6rU0NzzzdFC4khGkmqc8noe6h.jpg"></ion-img>
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="8">
                            <ion-text class="user_list_fees">
                                <h3>Sumanta dutta</h3>
                                <p>Software devloper (IBM)</p>
                            </ion-text>
                            <ion-note>10 dec 2021</ion-note>
                        </ion-col>
                        <ion-col size="2">
                            <div class="right_elp">
                                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-card-content>
                    <p class="feed_content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </ion-card-content>
                <ion-grid>
                    <ion-row class="ion-justify-content-start">
                        <ion-col>
                            <div class="piko_feed_img">
                                <ion-img src="https://travel.home.sndimg.com/content/dam/images/travel/fullset/2015/05/28/big-ben-london-england.jpg.rend.hgtvcom.581.436.suffix/1491582155388.jpeg"></ion-img>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-row class="ion-justify-content-start likes_ol">
                    <div class="ab likes_ol">
                        <ion-chip>
                            <ion-label>
                                <span> 12 Likes</span>
                            </ion-label>
                        </ion-chip>
                    </div>
                    <div class="ab">
                        <div class="right_cmq">
                            <ion-chip>
                                <ion-label>12 Comments</ion-label>
                            </ion-chip>
                        </div>
                    </div>
                </ion-row>
                <div class="likes_cm_piko">
                    <ion-row class="ion-justify-content-start">
                        <ion-col size="4">
                            <ion-label>
                                <ion-icon name="thumbs-up-outline"></ion-icon>
                                <span>Like</span>
                            </ion-label>
                        </ion-col>
                        <ion-col size="4">
                            <ion-label>
                                <ion-icon name="chatbubbles-outline"></ion-icon>
                                <span> Comment</span>
                            </ion-label>
                        </ion-col>
                        <ion-col size="4">
                            <ion-label class="right_share">
                                <ion-icon name="arrow-redo-outline"></ion-icon> <span> Share</span>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                </div>

            </ion-card>
        </div>
    </div>
</ion-content>