<app-common-header></app-common-header>

<ion-content [fullscreen]="true">

    <div class="find_friend_section">
        <div class="top_list_show">
            <div class="fnd_card">
                <ion-card class="card1 ion-activatable" routerLink="/following-request">
                    <div class="count_part">
                        <h3>142</h3>
                    </div>
                    <div class="icon_fg">
                        <ion-icon name="person-outline"></ion-icon>
                        <p>Following request</p>
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-card>
            </div>
            <div class="fnd_card">
                <ion-card class="card2 ion-activatable" routerLink="/followers">
                    <div class="count_part">
                        <h3>42</h3>
                    </div>
                    <div class="icon_fg">
                        <ion-icon name="people-circle-outline"></ion-icon>
                        <p>Followers</p>
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-card>
            </div>
            <div class="fnd_card">
                <ion-card class="card3 ion-activatable" routerLink="/following">
                    <div class="count_part">
                        <h3>412</h3>
                    </div>
                    <div class="icon_fg">
                        <ion-icon name="person-add-outline"></ion-icon>
                        <p>Following</p>
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>

                </ion-card>
            </div>
            <div class="fnd_card">
                <ion-card class="card4 ion-activatable" routerLink="/group-list">
                    <div class="count_part">
                        <h3>32</h3>
                    </div>
                    <div class="icon_fg">
                        <ion-icon name="people-outline"></ion-icon>
                        <p>Group</p>
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>

                </ion-card>
            </div>
            <div class="fnd_card">
                <ion-card class="card5 ion-activatable">
                    <div class="count_part">
                        <h3>2</h3>
                    </div>
                    <div class="icon_fg">
                        <ion-icon name="newspaper-outline"></ion-icon>
                        <p>Pages</p>
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-card>
            </div>
        </div>

        <div class="chip_video_list">
            <div class="category_list">
                <ion-chip>All</ion-chip>
                <ion-chip class="active">Local friend</ion-chip>
                <ion-chip>Android</ion-chip>
                <ion-chip>Computers</ion-chip>
                <ion-chip>Cryptocurrency</ion-chip>
                <ion-chip>Scene</ion-chip>
            </div>
        </div>
        <div class="video_search">
            <ion-searchbar></ion-searchbar>
        </div>
        <div class="follow_list">
            <!-- <div class="people_fl_heading">
                <h3>People you follow</h3>
            </div> -->
            <ion-row>
                <ion-col size="6">
                    <div class="card_frnd">
                        <ion-card class="ion-activatable">
                            <div class="user_img_follw">
                                <ion-img src="https://images.pexels.com/photos/941693/pexels-photo-941693.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></ion-img>
                            </div>
                            <div class="user_text_flw">
                                <h3>Sumanta dutta</h3>
                                <p>Solution engineer</p>
                                <span>Durgapur, west bengal</span>
                            </div>
                            <div class="follw_btn">
                                <ion-button color="primary">Follow</ion-button>
                            </div>
                            <ion-ripple-effect></ion-ripple-effect>
                        </ion-card>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <div class="card_frnd">
                        <ion-card class="ion-activatable">
                            <div class="user_img_follw">
                                <ion-img src="https://images.unsplash.com/photo-1480455624313-e29b44bbfde1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw5MDM3NTQyfHxlbnwwfHx8fA%3D%3D&w=1000&q=80"></ion-img>
                            </div>
                            <div class="user_text_flw">
                                <h3>Rahul mukherjee</h3>
                                <p>Solution engineer</p>
                                <span>raniganj, west bengal</span>
                            </div>
                            <div class="follw_btn">
                                <ion-button color="primary">Follow</ion-button>
                            </div>
                            <ion-ripple-effect></ion-ripple-effect>
                        </ion-card>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <div class="card_frnd">
                        <ion-card class="ion-activatable">
                            <div class="user_img_follw">
                                <ion-img src="https://media.istockphoto.com/photos/smiling-businessman-with-brown-bag-walking-in-city-picture-id691910455?k=20&m=691910455&s=612x612&w=0&h=Qi4wGixRCYErok43lgQxOdL3dcDyTVFcAYWV0jY_ge4="></ion-img>
                            </div>
                            <div class="user_text_flw">
                                <h3>Sumanta dutta</h3>
                                <p>Solution engineer</p>
                                <span>Durgapur, west bengal</span>
                            </div>
                            <div class="follw_btn">
                                <ion-button color="primary">Follow</ion-button>
                            </div>
                            <ion-ripple-effect></ion-ripple-effect>
                        </ion-card>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>
























    <ion-grid>
        <ion-row>
            <ion-col size="6">
                Select color theme
            </ion-col>
            <ion-col size="6">
                <ion-toggle (ionChange)="onToggleColorTheme($event)" [(ngModel)]="selectedTheme"></ion-toggle>
            </ion-col>

        </ion-row>
    </ion-grid>

</ion-content>
