.universal_search_sec {
    ion-searchbar {
        --background: #1f1f1f;
    }
}

.search_recent {
    .qrx_heading {
        h3 {
            font-weight: bold;
            font-size: 14px;
            margin: 7px 5px 18px 7px;
        }
    }
    .qrx_sea {
        padding-left: 5px;
        margin-bottom: 10px;
        .time_recent {
            ion-icon {
                font-size: 15px;
            }
        }
        .recent_heading {
            h4 {
                font-size: 14px;
                margin: 0px;
            }
        }
    }
}
