<ion-header>
    <ion-toolbar class="mg_sec">
        <ion-buttons slot="start">
            <ion-back-button text="Search" ios="chevron-forward-outline" md="arrow-forward-outline" class="abt_sec"></ion-back-button>
        </ion-buttons>
        <ion-icon name="qr-code-outline" slot="end" style="font-size: 22px;margin-right: 15px;"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="universal_search_sec">
        <ion-searchbar></ion-searchbar>
    </div>
    <div class="search_recent">
        <ion-grid>
            <div class="qrx_heading">
                <h3>Recent search</h3>
            </div>
            <div class="qrx_sea">
                <ion-row>
                    <ion-col size="1">
                        <div class="time_recent">
                            <ion-icon name="time-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="11">
                        <div class="recent_heading">
                            <h4>Wingify</h4>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="qrx_sea">
                <ion-row>
                    <ion-col size="1">
                        <div class="time_recent">
                            <ion-icon name="time-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="11">
                        <div class="recent_heading">
                            <h4> Angular developer_Immediate Joiners</h4>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="qrx_sea">
                <ion-row>
                    <ion-col size="1">
                        <div class="time_recent">
                            <ion-icon name="time-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="11">
                        <div class="recent_heading">
                            <h4> Tech Mahindra</h4>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="qrx_sea">
                <ion-row>
                    <ion-col size="1">
                        <div class="time_recent">
                            <ion-icon name="time-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="11">
                        <div class="recent_heading">
                            <h4>senior solutions engineer</h4>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="qrx_sea">
                <ion-row>
                    <ion-col size="1">
                        <div class="time_recent">
                            <ion-icon name="time-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="11">
                        <div class="recent_heading">
                            <h4>solutions architect</h4>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="qrx_sea">
                <ion-row>
                    <ion-col size="1">
                        <div class="time_recent">
                            <ion-icon name="time-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="11">
                        <div class="recent_heading">
                            <h4> Tech Mahindra</h4>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>
    </div>
</ion-content>
