<ion-header>
    <ion-toolbar class="mg_sec">
        <ion-buttons slot="start">
            <ion-back-button text="More" ios="chevron-forward-outline" md="arrow-forward-outline" class="abt_sec"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="more_setting_part">
        <ion-grid>
            <div class="set_of_part" routerLink="/privacy-policy">
                <ion-row>
                    <ion-col size="12">
                        <div class="heding_prv">
                            <h4>Privacy Policy </h4>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="set_of_part" routerLink="/terms-of-use">
                <ion-row>
                    <ion-col size="12">
                        <div class="heding_prv">
                            <h4>Terms of Use</h4>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="set_of_part" routerLink="/cookie-policy">
                <ion-row>
                    <ion-col size="12">
                        <div class="heding_prv">
                            <h4>Cookie Policy</h4>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="set_of_part">
                <ion-row>
                    <ion-col size="11">
                        <div class="heding_prv">
                            <h4>Dark mode</h4>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <div class="setting_list_ic">
                            <ion-icon name="moon-outline"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <!-- <div class="more_set_dark">
                <ion-row>
                    <ion-col size="6">
                        <div class="set_dark_img shwmK">
                            <ion-img src="/assets/images/dark-mode.png"></ion-img>
                        </div>
                    </ion-col>
                    <ion-col size="6">
                        <div class="set_dark_img">
                            <ion-img src="/assets/images/white-mode.png"></ion-img>
                        </div>
                    </ion-col>
                </ion-row>
            </div> -->
        </ion-grid>
    </div>
</ion-content>
