.more_setting_part {
    padding-top: 10px;
    .set_of_part {
        border-bottom: 1px solid #1f1f1f;
        padding-bottom: 10px;
        margin-bottom: 10px;
        padding-left: 8px;
        padding-right: 10px;
        .heding_prv {
            h4 {
                margin: 0px;
                font-size: 14px;
                font-weight: bold;
                padding-left: 10px;
                padding-top: 2px;
            }
        }
    }
}
