.followers_list_card {
    .follow_list {
        .video_search {
            ion-searchbar {
                --background: #1f1f1f;
            }
        }
        .count_follw_request {
            margin-bottom: 14px;
            margin-left: 2px;
            h3 {
                font-size: 18px;
                font-weight: bold;
                margin-top: 2px;
            }
        }
        .card_frnd {
            ion-card {
                text-align: center;
                margin: 0px;
                padding: 20px 0px 16px 0px;
                .user_img_follw {
                    margin-bottom: 16px;
                    ion-img {
                        width: 70px;
                        height: 70px;
                        object-fit: cover;
                        border: 2px solid #ddd;
                        border-radius: 50%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    ion-img::part(image) {
                        border-radius: 50%;
                    }
                }
                .user_text_flw {
                    h3 {
                        font-size: 14px;
                        font-weight: bold;
                        color: #fff;
                        margin-bottom: 3px;
                        margin-top: 2px;
                    }
                    p {
                        font-size: 12px;
                        color: #ddd;
                        margin-bottom: 2px;
                        margin-top: 0px;
                    }
                    span {
                        font-size: 10px;
                        color: #ddd;
                    }
                }
                .follw_btn {
                    margin-top: 10px;
                    ion-button {
                        font-size: 14px;
                        text-transform: capitalize;
                        width: 85%;
                    }
                }
            }
        }
        .people_fl_heading {
            margin-left: 10px;
            h3 {
                font-size: 18px;
                font-weight: bold;
                margin-top: 8px;
                margin-bottom: 15px;
            }
        }
    }
}
