.jobs_section {
    .video_search {
        ion-searchbar {
            --background: #1f1f1f;
        }
    }
    .chip_video_list {
        margin-bottom: 10px;
        .category_list {
            margin-left: 10px;
            overflow: auto;
            white-space: nowrap;
            padding-top: 8px;
            margin-right: 10px;
        }
        .active {
            background: linear-gradient( -45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        }
    }
    .list_card {
        margin-right: 5px;
        margin-left: 5px;
        .job_section_dev {
            ion-card {
                padding: 15px 10px 15px 10px;
                text-align: left;
                margin: 0px;
                .jobs_img {
                    margin-bottom: 12px;
                    ion-img {
                        width: 50px;
                        height: 50px;
                        border-radius: 5px;
                        object-fit: cover;
                    }
                    ion-img::part(image) {
                        border-radius: 5px;
                    }
                }
                .job_decription {
                    h3 {
                        font-size: 13px;
                        color: #fff;
                        margin-bottom: 3px;
                        margin-top: 0px;
                        font-weight: bold;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    p {
                        font-size: 10px;
                        margin-bottom: 5px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    span {
                        color: #ddd;
                        font-size: 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .tag_date_jobs {
                    padding-top: 22px;
                    display: flex;
                    justify-content: space-between;
                    ion-icon {
                        color: #fff;
                        font-size: 16px;
                    }
                    span {
                        font-size: 10px;
                        color: #b4b4b4;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}