<app-common-header></app-common-header>

<ion-content [fullscreen]="true">
    <div class="jobs_section">
        <div class="video_search">
            <ion-searchbar></ion-searchbar>
        </div>
        <div class="chip_video_list">
            <div class="category_list">
                <ion-chip>All</ion-chip>
                <ion-chip class="active">Local jobs</ion-chip>
                <ion-chip>CSS/HTML Developer</ion-chip>
                <ion-chip>Software Engineer</ion-chip>
                <ion-chip>Frontend Developer</ion-chip>
                <ion-chip>Junior Developer</ion-chip>
            </div>
        </div>
        <div class="job list_card">
            <ion-row>
                <ion-col size="6">
                    <div class="job_section_dev">
                        <ion-card class="ion-activatable" routerLink="/job-details">
                            <div class="jobs_img">
                                <ion-img src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202106/tcs_logo_1200_020621101143.jpg?size=1200:675"></ion-img>
                            </div>
                            <div class="job_decription">
                                <h3>Full Stack Engineer</h3>
                                <p>Tata Consultancy Services</p>
                                <p>Kolkata, West Bengal</p>
                                <span>Work from home</span>
                            </div>
                            <div class="tag_date_jobs">
                                <div class="mark_jobs">
                                    <ion-icon name="bookmark-outline"></ion-icon>
                                </div>
                                <div class="jobs_date_posting">
                                    <span>20 dec 2021</span>
                                </div>
                            </div>
                            <ion-ripple-effect></ion-ripple-effect>

                        </ion-card>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <div class="job_section_dev">
                        <ion-card class="ion-activatable" routerLink="/job-details">
                            <div class="jobs_img">
                                <ion-img src="https://images.livemint.com/rf/Image-621x414/LiveMint/Period2/2017/05/05/Photos/Processed/wiprologo-kXmF--621x414@LiveMint.jpg"></ion-img>
                            </div>
                            <div class="job_decription">
                                <h3>Dotnet Developer</h3>
                                <p>Wipro</p>
                                <p>Kolkata, West Bengal</p>
                                <span>Work from home</span>
                            </div>
                            <div class="tag_date_jobs">
                                <div class="mark_jobs">
                                    <ion-icon name="bookmark-outline"></ion-icon>
                                </div>
                                <div class="jobs_date_posting">
                                    <span>20 dec 2021</span>
                                </div>
                            </div>
                            <ion-ripple-effect></ion-ripple-effect>

                        </ion-card>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <div class="job_section_dev">
                        <ion-card class="ion-activatable" routerLink="/job-details">
                            <div class="jobs_img">
                                <ion-img src="https://www.ibm.com/blogs/policy/wp-content/uploads/2017/01/IBM_LGBT_Logo_RGB.jpg"></ion-img>
                            </div>
                            <div class="job_decription">
                                <h3>Full Stack Engineer</h3>
                                <p>IBM</p>
                                <p>Kolkata, West Bengal</p>
                                <span>Work from home</span>
                            </div>
                            <div class="tag_date_jobs">
                                <div class="mark_jobs">
                                    <ion-icon name="bookmark-outline"></ion-icon>
                                </div>
                                <div class="jobs_date_posting">
                                    <span>20 dec 2021</span>
                                </div>
                            </div>
                            <ion-ripple-effect></ion-ripple-effect>

                        </ion-card>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <div class="job_section_dev">
                        <ion-card class="ion-activatable">
                            <div class="jobs_img">
                                <ion-img src="https://www.logomyway.com/logos_new/14418/logo_10_098445335605.png"></ion-img>
                            </div>
                            <div class="job_decription">
                                <h3>Frontend Engineer, Manage:Auth</h3>
                                <p>Crossover for Work</p>
                                <p>Gurgaon, Haryana, India</p>
                                <span>Work from home</span>
                            </div>
                            <div class="tag_date_jobs">
                                <div class="mark_jobs">
                                    <ion-icon name="bookmark-outline"></ion-icon>
                                </div>
                                <div class="jobs_date_posting">
                                    <span>2 dec 2021</span>
                                </div>
                            </div>
                            <ion-ripple-effect></ion-ripple-effect>

                        </ion-card>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <div class="job_section_dev">
                        <ion-card class="ion-activatable">
                            <div class="jobs_img">
                                <ion-img src="https://www.ibm.com/blogs/policy/wp-content/uploads/2017/01/IBM_LGBT_Logo_RGB.jpg"></ion-img>
                            </div>
                            <div class="job_decription">
                                <h3>Full Stack Engineer</h3>
                                <p>IBM</p>
                                <p>Kolkata, West Bengal</p>
                                <span>Work from home</span>
                            </div>
                            <div class="tag_date_jobs">
                                <div class="mark_jobs">
                                    <ion-icon name="bookmark-outline"></ion-icon>
                                </div>
                                <div class="jobs_date_posting">
                                    <span>20 dec 2021</span>
                                </div>
                            </div>
                            <ion-ripple-effect></ion-ripple-effect>

                        </ion-card>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <div class="job_section_dev">
                        <ion-card class="ion-activatable">
                            <div class="jobs_img">
                                <ion-img src="https://www.logomyway.com/logos_new/14418/logo_10_098445335605.png"></ion-img>
                            </div>
                            <div class="job_decription">
                                <h3>Frontend Engineer, Manage:Auth</h3>
                                <p>Crossover for Work</p>
                                <p>Gurgaon, Haryana, India</p>
                                <span>Work from home</span>
                            </div>
                            <div class="tag_date_jobs">
                                <div class="mark_jobs">
                                    <ion-icon name="bookmark-outline"></ion-icon>
                                </div>
                                <div class="jobs_date_posting">
                                    <span>2 dec 2021</span>
                                </div>
                            </div>
                            <ion-ripple-effect></ion-ripple-effect>

                        </ion-card>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
