.more_prt_section {
    .profile_fst {
        margin-top: 10px;
        .margin_biz {
            margin-bottom: 25px;
        }
        ion-card {
            color: #fff;
            margin: 10px;
            padding: 15px 10px 15px 10px;
            .profile_icon {
                ion-icon {
                    font-size: 20px;
                }
            }
            .profile_text_more {
                padding-left: 10px;
                h4 {
                    margin-top: 2px;
                    margin-bottom: 0px;
                    font-weight: 600;
                    font-size: 14px;
                }
            }
            .rgm_info {
                float: right;
                padding-top: 5px;
                ion-icn {
                    font-size: 16px;
                }
            }
        }
        .var_heading {
            text-align: center;
            h3 {
                font-weight: bold;
            }
            span {
                font-size: 10px;
                color: #ddd;
            }
        }
    }
}