<ion-header>
    <ion-toolbar class="mg_sec">
        <ion-buttons slot="start">
            <ion-back-button text="Group details" ios="chevron-forward-outline" md="arrow-forward-outline" class="abt_sec"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="group_details_section">
        <div class="grp_details_img">
            <!-- <div class="back_profile_btn">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </div> -->
            <ion-slides pager="true" [options]="{autoHeight: true}">
                <ion-slide>
                    <div>
                        <ion-img src="https://lp-cms-production.imgix.net/image_browser/london-big-ben.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850"></ion-img>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div>
                        <ion-img src="https://www.holidify.com/images/bgImages/KOLKATA.jpg"></ion-img>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div>
                        <ion-img src="https://static.toiimg.com/thumb/msid-58475411,width-748,height-499,resizemode=4,imgsize-142947/.jpg"></ion-img>
                    </div>
                </ion-slide>
            </ion-slides>
            <div class="profile_camera">
                <ion-icon name="camera-outline"></ion-icon>
            </div>
        </div>
        <ion-grid>
            <ion-row>
                <ion-col size="11">
                    <div class="group_details_heading">
                        <div class="group_det">
                            <h3>Kolkata groups SWA</h3>
                            <p>Durgapur, west bengal</p>
                            <span>Travel, tourism</span><br>
                            <span>168 Members | 20 Jan 2022 | <ion-icon name="lock-closed"></ion-icon> Only me </span>
                        </div>
                        <div class="group_img_list">
                            <ul>
                                <li class="fst_grdg">
                                    <ion-img src="https://media.istockphoto.com/photos/smiling-man-outdoors-in-the-city-picture-id1179420343?k=20&m=1179420343&s=612x612&w=0&h=G2UGMVSzAXGAQs3pFZpvWlHNRAzwPIWIVtSOxZHsEuc="></ion-img>
                                </li>
                                <li class="img_grp_opcity">
                                    <ion-img src="https://media.istockphoto.com/photos/portrait-of-a-smiling-student-at-the-city-street-picture-id1147289240?k=20&m=1147289240&s=612x612&w=0&h=sEx-9oXUdDRMqZF0o1viaumUjAud3Lsr9QxWAqrW3ks="></ion-img>
                                </li>
                                <li class="img_grp_opcity">
                                    <ion-img src="https://t4.ftcdn.net/jpg/02/14/74/61/360_F_214746128_31JkeaP6rU0NzzzdFC4khGkmqc8noe6h.jpg"></ion-img>
                                </li>
                                <li class="img_grp_opcity">
                                    <ion-img src="https://t4.ftcdn.net/jpg/02/14/74/61/360_F_214746128_31JkeaP6rU0NzzzdFC4khGkmqc8noe6h.jpg"></ion-img>
                                </li>
                                <li class="img_grp_opcity">
                                    <ion-img src="https://t4.ftcdn.net/jpg/02/14/74/61/360_F_214746128_31JkeaP6rU0NzzzdFC4khGkmqc8noe6h.jpg"></ion-img>
                                </li>
                                <li class="dmy_prx">
                                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="1">
                    <div class="group_option_icon">
                        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="create_post_videos">
                        <ion-button>
                            <ion-label>
                                <ion-icon name="add-circle-outline"></ion-icon> <span> Create group post</span> </ion-label>
                        </ion-button>
                        <ion-button class="active">
                            <ion-label>
                                <ion-icon name="tablet-portrait-outline"></ion-icon> <span> Post</span></ion-label>
                        </ion-button>
                        <ion-button>
                            <ion-label>
                                <ion-icon name="information-outline"></ion-icon> <span> About </span></ion-label>
                        </ion-button>
                        <ion-button>
                            <ion-label>
                                <ion-icon name="document-outline"></ion-icon> <span> Files </span></ion-label>
                        </ion-button>
                        <ion-button>
                            <ion-label>
                                <ion-icon name="chatbox-ellipses-outline"></ion-icon> <span>Chat</span> </ion-label>
                        </ion-button>
                        <ion-button>
                            <ion-label>
                                <ion-icon name="document-text-outline"></ion-icon> <span> Notes</span></ion-label>
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-row>
            <div class="post_activity_card">
                <ion-card>
                    <ion-card-header>
                        <ion-row>
                            <ion-col size="2">
                                <ion-avatar>
                                    <ion-img src="https://t4.ftcdn.net/jpg/02/14/74/61/360_F_214746128_31JkeaP6rU0NzzzdFC4khGkmqc8noe6h.jpg"></ion-img>
                                </ion-avatar>
                            </ion-col>
                            <ion-col size="8">
                                <ion-text class="user_list_fees">
                                    <h3>Sumanta dutta</h3>
                                    <p>Software devloper (IBM)</p>
                                </ion-text>
                                <ion-note>10 dec 2021</ion-note>
                            </ion-col>
                            <ion-col size="2">
                                <div class="right_elp">
                                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-card-header>
                    <ion-card-content>
                        <p class="feed_content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </ion-card-content>
                    <ion-grid>
                        <ion-row class="ion-justify-content-start">
                            <ion-col>
                                <div class="piko_feed_img">
                                    <ion-img src="https://travel.home.sndimg.com/content/dam/images/travel/fullset/2015/05/28/big-ben-london-england.jpg.rend.hgtvcom.581.436.suffix/1491582155388.jpeg"></ion-img>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-row class="ion-justify-content-start likes_ol">
                        <div class="ab likes_ol">
                            <ion-chip>
                                <ion-label>
                                    <span> 12 Likes</span>
                                </ion-label>
                            </ion-chip>
                        </div>
                        <div class="ab">
                            <div class="right_cmq">
                                <ion-chip>
                                    <ion-label>12 Comments</ion-label>
                                </ion-chip>
                            </div>
                        </div>
                    </ion-row>
                    <div class="likes_cm_piko">
                        <ion-row class="ion-justify-content-start">
                            <ion-col size="4">
                                <ion-label>
                                    <ion-icon name="thumbs-up-outline"></ion-icon>
                                    <span>Like</span>
                                </ion-label>
                            </ion-col>
                            <ion-col size="4">
                                <ion-label>
                                    <ion-icon name="chatbubbles-outline"></ion-icon>
                                    <span> Comment</span>
                                </ion-label>
                            </ion-col>
                            <ion-col size="4">
                                <ion-label class="right_share">
                                    <ion-icon name="arrow-redo-outline"></ion-icon> <span> Share</span>
                                </ion-label>
                            </ion-col>
                        </ion-row>
                    </div>

                </ion-card>
            </div>
        </ion-row>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button expand="block" color="white">Join group</ion-button>
    </ion-toolbar>
</ion-footer>
