.group_details_section {
    .grp_details_img {
        ion-img {
            object-fit: cover;
            width: 100%;
        }
        .slide-zoom {
            height: 100%;
        }
        ion-slides {
            height: 210px;
        }
        .profile_camera {
            position: absolute;
            right: 15px;
            width: 32px;
            height: 32px;
            background: rgb(0 0 0 / 45%);
            border-radius: 5px;
            margin-top: 17px;
            text-align: center;
            padding-top: 6px;
            top: 0px;
            z-index: 1;
            ion-icon {
                font-size: 20px;
            }
        }
        .back_profile_btn {
            position: absolute;
            margin-top: 16px;
            margin-left: 15px;
            width: 34px;
            height: 34px;
            background: rgb(0 0 0 / 49%);
            border-radius: 50px;
            text-align: center;
            padding-top: 4px;
            padding-right: 3px;
            ion-icon {
                font-size: 26px;
            }
        }
    }
    .group_details_heading {
        .group_det {
            margin-bottom: 12px;
            h3 {
                font-size: 17px;
                font-weight: bold;
                margin-bottom: 4px;
                margin-top: 4px;
            }
            p {
                font-size: 12px;
                color: #ddd;
                margin-bottom: 2px;
            }
            span {
                font-size: 10px;
                color: #ddd;
            }
            ion-icon {
                font-size: 10px;
                padding-left: 5px;
            }
        }
        .group_img_list {
            ul {
                margin: 0;
                padding-left: 0;
                li {
                    display: inline-block;
                    ion-img {
                        width: 32px;
                        height: 32px;
                        object-fit: cover;
                        border: 2px solid #fff;
                        border-radius: 50%;
                    }
                    ion-img::part(image) {
                        border-radius: 50%;
                    }
                }
                .img_grp_opcity {
                    margin-left: -10px;
                    position: relative;
                    z-index: 1;
                }
                .dmy_prx {
                    width: 32px;
                    height: 32px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    background: #fff;
                    color: #222;
                    text-align: center;
                    padding-top: 6px;
                    position: relative;
                    z-index: 2;
                    bottom: 7px;
                    margin-left: -15px;
                }
                .fst_grdg {
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }
    .group_option_icon {
        ion-icon {
            font-size: 20px;
            margin-left: -8px;
            margin-top: 5px;
        }
    }
    .create_post_videos {
        overflow: auto;
        white-space: nowrap;
        margin-right: 0px;
        ion-button {
            --background: #222;
            --border-radius: 50px;
            font-size: 12px;
            text-transform: capitalize;
            ion-icon {
                font-size: 16px;
                margin-right: 5px;
            }
            span {
                position: relative;
                bottom: 4px;
            }
        }
        .active {
            --background: linear-gradient( -45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) !important;
        }
    }
    .post_activity_card {
        ion-card {
            ion-card-header {
                padding: 10px 0px 0px 10px;
                ion-img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }
                ion-text {
                    h3 {
                        font-size: 14px;
                        margin-bottom: 0px;
                        margin-top: 0px;
                        color: #fff;
                        font-weight: bold;
                    }
                    p {
                        font-size: 11px;
                        margin-bottom: 1px;
                        margin-top: 1px;
                    }
                }
                ion-note {
                    font-size: 10px;
                }
                .right_elp {
                    float: right;
                    margin-right: 12px;
                    ion-icon {
                        font-size: 20px;
                        color: #fff;
                    }
                }
            }
            ion-card-content {
                p {
                    color: #fff;
                    line-height: 20px;
                    font-size: 13px;
                }
            }
            .piko_feed_img {
                ion-img::part(image) {
                    border-radius: 5px;
                }
            }
            .likes_ol {
                margin-left: 6px;
            }
            .likes_cm_piko {
                padding-bottom: 15px;
                border-top: 1px solid #393939;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 8px;
                ion-label {
                    position: relative;
                    top: 6px;
                    ion-icon {
                        margin-right: 6px;
                        font-size: 16px;
                        position: relative;
                        top: 2px;
                    }
                }
                .right_share {
                    float: right;
                }
            }
            .likes_ol {
                ion-chip {
                    font-size: 12px;
                }
            }
        }
    }
}

ion-footer {
    ion-button {
        margin-left: 10px;
        margin-right: 10px;
        text-transform: capitalize;
        height: 42px;
        background: #00bcd4;
        border-radius: 5px;
    }
}
