/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@font-face {
    font-family: CenturyGothic;
    src: url(./assets/fonts/CenturyGothic.ttf) format('truetype');
}

.FiraSans {
    font-family: CenturyGothic;
}

.alert-button.sc-ion-alert-ios:last-child {
    border-right: 0;
    font-weight: normal !important;
}

ion-button {
    font-family: CenturyGothic;
}

ion-label {
    font-family: CenturyGothic !important;
}

p {
    font-family: CenturyGothic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: CenturyGothic;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    word-break: break-word;
}

.bns_ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-footer {
    &.footer-md::before {
        background-image: none;
    }
}

ion-buttons {
    ion-back-button {
        text-transform: capitalize;
    }
}

ion-refresher {
    // background-color: white;
    ion-refresher-content * {
        icon * {
            color: #1bbe02;
        }
        color: #1bbe02;
        .refresher-refreshing {
            .refresher-pulling-icon,
            .refresher-refreshing-icon {
                text-align: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                font-size: 30px;
                color: #1bbe02;
                -webkit-transition: 200ms;
                transition: 200ms;
            }
        }
    }
}

.ios ion-ripple-effect {
    display: none;
}

// back button css
.abt_sec {
    font-weight: bold;
    font-size: 15px;
}

// END back button
// login sign up css
.piko_login {
    padding-top: 15px;
    .login_lgo_img {
        text-align: center;
        svg {
            width: 160px;
            height: auto;
        }
    }
    .main_logo {
        padding-left: 15px;
        margin-bottom: 10px;
        h3 {
            font-size: 38px;
            font-weight: bold;
            margin-top: 0px;
        }
        ion-icon {
            font-size: 26px;
        }
        span {
            float: right;
            font-size: 14px;
            margin-right: 20px;
            padding-top: 10px;
            color: #00bcd4;
        }
    }
    .login_part {
        .login_card {
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 30px;
            padding-top: 26px;
            ion-item {
                margin-bottom: 12px;
            }
            ion-button {
                width: 100%;
                text-transform: capitalize;
                height: 45px;
            }
            .pws_cbm {
                font-size: 20px;
                padding-top: 11px;
            }
        }
        .other_login_part {
            padding-left: 15px;
            padding-right: 15px;
            ion-item {
                border-radius: 5px;
                margin-bottom: 10px;
            }
            ion-text {
                padding-left: 10px;
                font-size: 14px;
            }
            svg {
                width: 20px;
                height: 20px;
                position: relative;
                top: 4px;
            }
            .pd_loh {
                padding: 14px;
                background: #1e1e1e;
                // background: #f0f0f0;
                border-radius: 5px;
                margin-bottom: 10px;
            }
        }
        .or_pik_text {
            text-align: center;
            margin-bottom: 26px;
            p {
                font-size: 14px;
                color: #969696;
            }
        }
        .down_sign_part {
            text-align: center;
            margin-bottom: 28px;
            padding-top: 20px;
            ion-text {
                font-size: 14px;
                span {
                    color: #00bcd4;
                }
            }
        }
        .sign_privacy {
            text-align: left;
            margin-bottom: 13px;
            padding-top: 1px;
            padding-left: 6px;
            padding-right: 6px;
            p {
                font-size: 13px;
                line-height: 20px;
                margin-top: 4px;
                span {
                    color: #00bcd4;
                }
            }
        }
        .create_text {
            padding-left: 15px;
            margin-top: 20px;
            h3 {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 0px;
            }
        }
    }
}

// videos css fav plus
.piko_video_list {
    .video_search {
        ion-searchbar {
            --background: #1f1f1f;
        }
    }
    .chip_video_list {
        .category_list {
            margin-left: 10px;
            overflow: auto;
            white-space: nowrap;
            padding-top: 8px;
            margin-right: 10px;
        }
        .active {
            background: linear-gradient( -45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        }
    }
    .video_list_user {
        ion-card {
            padding: 12px;
            .video_img {
                ion-img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
                ion-img::part(image) {
                    border-radius: 5px;
                }
                // fav css
                .fav_videos_icon {
                    position: absolute;
                    right: 0;
                    margin-right: 22px;
                    margin-top: 12px;
                    width: 30px;
                    height: 30px;
                    background: rgb(0 0 0 / 58%);
                    border-radius: 50%;
                    text-align: center;
                    padding-top: 6px;
                    ion-icon {
                        font-size: 20px;
                        color: #fff;
                    }
                }
                //END fav css
            }
            .video_heading {
                padding-top: 10px;
                h3 {
                    font-size: 13px;
                    color: #fff;
                    margin-top: 0px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    line-height: 18px;
                }
                p {
                    font-size: 12px;
                    margin-top: 0px;
                    margin-bottom: 3px;
                }
                span {
                    font-size: 10px;
                }
            }
        }
    }
}

//END videos css fav plus
