<ion-header>
    <ion-toolbar class="mg_sec">
        <ion-buttons slot="start">
            <ion-back-button text="following" ios="chevron-forward-outline" md="arrow-forward-outline" class="abt_sec"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="followers_list_card">
        <div class="follow_list">

            <div class="video_search">
                <ion-searchbar></ion-searchbar>
            </div>
            <ion-grid>

                <ion-row>
                    <ion-col size="6">
                        <div class="card_frnd">
                            <ion-card class="ion-activatable">
                                <div class="user_img_follw">
                                    <ion-img src="https://images.pexels.com/photos/941693/pexels-photo-941693.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></ion-img>
                                </div>
                                <div class="user_text_flw">
                                    <h3>Sumanta dutta</h3>
                                    <p>Solution engineer</p>
                                    <span>Durgapur, west bengal</span>
                                </div>
                                <div class="follw_btn">
                                    <ion-button>Following</ion-button>
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </ion-card>
                        </div>
                    </ion-col>
                    <ion-col size="6">
                        <div class="card_frnd">
                            <ion-card class="ion-activatable">
                                <div class="user_img_follw">
                                    <ion-img src="https://images.unsplash.com/photo-1480455624313-e29b44bbfde1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw5MDM3NTQyfHxlbnwwfHx8fA%3D%3D&w=1000&q=80"></ion-img>
                                </div>
                                <div class="user_text_flw">
                                    <h3>Rahul mukherjee</h3>
                                    <p>Solution engineer</p>
                                    <span>raniganj, west bengal</span>
                                </div>
                                <div class="follw_btn">
                                    <ion-button>Following</ion-button>
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </ion-card>
                        </div>
                    </ion-col>
                    <ion-col size="6">
                        <div class="card_frnd">
                            <ion-card class="ion-activatable">
                                <div class="user_img_follw">
                                    <ion-img src="https://media.istockphoto.com/photos/smiling-businessman-with-brown-bag-walking-in-city-picture-id691910455?k=20&m=691910455&s=612x612&w=0&h=Qi4wGixRCYErok43lgQxOdL3dcDyTVFcAYWV0jY_ge4="></ion-img>
                                </div>
                                <div class="user_text_flw">
                                    <h3>Sumanta dutta</h3>
                                    <p>Solution engineer</p>
                                    <span>Durgapur, west bengal</span>
                                </div>
                                <div class="follw_btn">
                                    <ion-button>Following</ion-button>
                                </div>
                                <ion-ripple-effect></ion-ripple-effect>
                            </ion-card>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
