.business_details_sec {
    .bis_img_slide {
        ion-slides {
            height: 210px;
        }
    }
    .silde_im_heading {
        padding-left: 5px;
        padding-top: 3px;
        h3 {
            font-size: 16px;
            font-weight: bold;
            margin: 0px 10px 3px 0px;
        }
        h4 {
            font-size: 14px;
            margin: 0px;
        }
        p {
            font-size: 10px;
            color: #ddd;
            margin-bottom: 10px
        }
    }
    .group_option_icon {
        ion-icon {
            font-size: 20px;
            margin-left: -5px;
        }
    }
    .business_like_cm {
        padding-top: 16px;
        .likes_ol {
            margin-left: 3px;
        }
        .likes_cm_piko {
            padding-bottom: 15px;
            border-top: 1px solid #393939;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 8px;
            ion-label {
                position: relative;
                top: 6px;
                ion-icon {
                    margin-right: 6px;
                    font-size: 16px;
                    position: relative;
                    top: 2px;
                }
            }
            span {
                font-size: 12px;
                color: #ddd;
            }
            .right_share {
                float: right;
            }
        }
        .likes_ol {
            ion-chip {
                font-size: 12px;
            }
        }
        .business_item_description {
            padding: 10px 10px 10px 10px;
            h3 {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 5px;
                margin-top: 0px;
            }
            p {
                font-size: 13px;
                line-height: 22px;
                color: #cacaca;
            }
        }
        .business_drt_textarea {
            padding-left: 10px;
            padding-right: 10px;
            ion-textarea {
                width: 100%;
                border: 1px solid #424242;
                border-radius: 5px;
                height: 100px;
                padding: 5px;
                margin-bottom: 15px;
            }
            ion-button {
                text-transform: capitalize;
            }
        }
        .product_details_business {
            padding-left: 10px;
            padding-top: 10px;
            h4 {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 5px;
                margin-top: 0px;
            }
            ul {
                margin: 0px 5px 0px 0px;
                list-style: none;
                padding: 0;
                li {
                    margin-bottom: 5px;
                    font-size: 13px;
                    line-height: 22px;
                    color: #cacaca;
                }
            }
        }
    }
}

ion-footer {
    .seller_info {
        padding-left: 10px;
        h3 {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
    .onwer_business_img {
        ion-img {
            width: 35px;
            height: 35px;
            object-fit: cover;
            margin-top: 4px;
            margin-left: 5px;
            border: 2px solid #ddd;
            border-radius: 50%;
        }
        ion-img::part(image) {
            border-radius: 50%;
        }
    }
    .bus_sec_heading {
        margin-left: -5px;
        h4 {
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 2px;
            color: #fff;
            margin-top: 6px;
        }
        p {
            margin: 0px;
            font-size: 10px;
            color: #ddd;
        }
    }
    .business_btn_sec {
        margin-right: 10px;
        ion-button {
            border-radius: 5px;
            width: 100%;
            text-transform: capitalize;
            background: #00bcd4;
        }
    }
}
