<ion-header [translucent]="true" #header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size="2">
                    <div class="piko_header_img">
                        <ion-avatar>
                            <ion-img src="https://us.123rf.com/450wm/vadymvdrobot/vadymvdrobot2003/vadymvdrobot200300051/142744663-image-of-a-young-strong-happy-cheery-sports-man-posing-outdoors-in-nature-green-park-looking-camera-.jpg?ver=6"></ion-img>
                        </ion-avatar>
                    </div>
                </ion-col>
                <ion-col size="5">
                    <div class="piko_user_heading">
                        <h3>Sumanta Dutta</h3>
                        <p>Durgapur, west bengal</p>
                    </div>
                </ion-col>
                <ion-col size="5">
                    <div class="user_right">
                        <div class="sm_bnsk" routerLink="/universal-search">
                            <ion-icon name="search-outline"></ion-icon>
                        </div>
                        <div class="sm_bnsk" routerLink="/notification">
                            <span class="badge_open2"></span>
                            <ion-icon name="notifications-outline"></ion-icon>
                        </div>
                        <div class="sm_bnsk" routerLink="/chat">
                            <span class="badge_open1"></span>
                            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
