ion-toolbar {
    height: 68px;
    padding-top: 10px !important;
    ion-grid {
        padding: 0px;
    }
    .piko_header_img {
        ion-img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 2px solid #ddd;
            margin-left: 9px;
        }
    }
    .piko_user_heading {
        h3 {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 2px;
            margin-top: 2px;
        }
        p {
            font-size: 10px;
            color: #ddd;
            margin-bottom: 0px;
            margin-top: 3px;
        }
    }
    .user_right {
        display: flex;
        justify-content: flex-end;
        .sm_bnsk {
            background: #121212;
            border-radius: 50px;
            width: 38px;
            height: 38px;
            margin-right: 5px;
            text-align: center;
            padding-top: 9px;
            ion-icon {
                font-size: 20px;
                color: #fff;
            }
            .badge_open2 {
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background: #ff0606;
                z-index: 1;
                position: absolute;
                margin-left: 11px;
                margin-top: -3px;
            }
            .badge_open1 {
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background: #ff0606;
                z-index: 1;
                position: absolute;
                margin-left: 14px;
                margin-top: -3px;
            }
        }
    }
}
