<app-common-header></app-common-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <!-- top section likes inbox -->
        <div class="top_list_show">
            <div class="fnd_card">
                <ion-card class="card1 ion-activatable">
                    <div class="count_part">
                        <h3>42</h3>
                    </div>
                    <div class="icon_fg">
                        <ion-icon name="mail-outline"></ion-icon>
                        <p>Inbox</p>
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-card>
            </div>
            <div class="fnd_card">
                <ion-card class="card2 ion-activatable">
                    <div class="count_part">
                        <h3>2</h3>
                    </div>
                    <div class="icon_fg">
                        <ion-icon name="cart-outline"></ion-icon>
                        <p>Product buy</p>
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-card>
            </div>
            <div class="fnd_card">
                <ion-card class="card3 ion-activatable">
                    <div class="count_part">
                        <h3>412</h3>
                    </div>
                    <div class="icon_fg">
                        <ion-icon name="cart-outline"></ion-icon>
                        <p>Product sell</p>
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>

                </ion-card>
            </div>

        </div>

        <!-- like inbox end -->
        <div class="my_business">
            <div class="chip_business_list">
                <div class="category_list">
                    <ion-chip>All</ion-chip>
                    <ion-chip class="active">Clothing</ion-chip>
                    <ion-chip>Entertainment</ion-chip>
                    <ion-chip>Computers</ion-chip>
                    <ion-chip>home good</ion-chip>
                    <ion-chip>Scene</ion-chip>
                </div>
            </div>
            <div class="business_search">
                <ion-searchbar></ion-searchbar>
            </div>
            <div class="busn_prg">
                <ion-card routerLink="/business-details">
                    <ion-row>
                        <ion-col size="4">
                            <div class="business_img">
                                <!-- <div class="overlay_price">
                                    <span>₹ 45000</span>
                                </div> -->
                                <ion-img src="https://i0.wp.com/www.mobileworldlive.com/wp-content/uploads/2020/04/iPhone-11-650.png?fit=650%2C400&ssl=1"></ion-img>
                            </div>
                        </ion-col>
                        <ion-col size="8">
                            <div class="business_heading_tx">
                                <div class="fav_product_icon">
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                <h3>Iphone 12</h3>
                                <h4>₹ 45000</h4>
                                <p>Raj das</p>
                                <span>10 jan 2021</span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-card>
                <ion-card routerLink="/business-details">
                    <ion-row>
                        <ion-col size="4">
                            <div class="business_img">
                                <!-- <div class="overlay_price">
                                    <span>₹ 45000</span>
                                </div> -->
                                <ion-img src="https://imgd.aeplcdn.com/664x374/n/cw/ec/54399/exterior-right-front-three-quarter-10.jpeg?q=85"></ion-img>
                            </div>
                        </ion-col>
                        <ion-col size="8">
                            <div class="business_heading_tx">
                                <div class="fav_product_icon">
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                <h3>Maruti Suzuki Swift VDI, 2012, Diesel</h3>
                                <h4>₹ 45000</h4>
                                <p>Raj das</p>
                                <span>10 jan 2021</span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-card>
                <ion-card routerLink="/business-details">
                    <ion-row>
                        <ion-col size="4">
                            <div class="business_img">

                                <ion-img src="https://m.media-amazon.com/images/I/71nmGh3hBqL._SL1500_.jpg"></ion-img>
                            </div>
                        </ion-col>
                        <ion-col size="8">
                            <div class="business_heading_tx">
                                <div class="fav_product_icon">
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                <h3>Knees cap and back belt</h3>
                                <h4>₹ 4000</h4>
                                <p>Raj das</p>
                                <span>10 jan 2021</span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-card>
                <ion-card routerLink="/business-details">
                    <ion-row>
                        <ion-col size="4">
                            <div class="business_img">

                                <ion-img src="https://5.imimg.com/data5/UG/PO/CM/SELLER-38017335/multifunction-fitness-equipment-500x500.jpg"></ion-img>
                            </div>
                        </ion-col>
                        <ion-col size="8">
                            <div class="business_heading_tx">
                                <div class="fav_product_icon">
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                <h3>All gym equipment free delivery</h3>
                                <h4>₹ 14000</h4>
                                <p>Raj das</p>
                                <span>10 jan 2021</span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-card>
                <ion-card routerLink="/business-details">
                    <ion-row>
                        <ion-col size="4">
                            <div class="business_img">

                                <ion-img src="https://www.cnet.com/a/img/HqyHqQxJIG_EE0kxOkg36G1Ta1s=/940x528/2020/06/01/a0069d7e-0a35-4ddd-961d-bbd515846c1c/benq-ht2050a-21-of-12.jpg"></ion-img>
                            </div>
                        </ion-col>
                        <ion-col size="8">

                            <div class="business_heading_tx">
                                <div class="fav_product_icon">
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                <h3>RD3 4k 3D led projector usb hdmi vga smart Android wifi screen LIVE tv</h3>
                                <h4>₹ 4400</h4>
                                <p>Raj das</p>
                                <span>10 jan 2021</span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </div>
        </div>
    </ion-grid>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
