.my_business {
    .chip_business_list {
        .category_list {
            margin-left: 0px;
            overflow: auto;
            white-space: nowrap;
            padding-top: 8px;
            margin-right: 0px;
            margin-bottom: 5px;
        }
        .active {
            background: linear-gradient( -45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        }
    }
    .business_search {
        ion-searchbar {
            --background: #1f1f1f;
            padding: 5px 5px 12px 5px;
        }
    }
    .busn_prg {
        padding-left: 3px;
        padding-right: 3px;
        ion-card {
            margin: 0px 0px 5px 0px;
            .business_img {
                ion-img {
                    width: 100%;
                    object-fit: cover;
                    height: 90px;
                }
                ion-img::part(image) {
                    border-radius: 5px 5px 0px 0px;
                }
                .overlay_price {
                    text-align: center;
                    width: 93%;
                    bottom: 5px;
                    font-size: 13px;
                    position: absolute;
                    background: rgba(34, 34, 34, 0.76);
                    padding: 8px 10px;
                    color: #fff;
                }
            }
            .business_heading_tx {
                padding: 4px 5px;
                h3 {
                    font-size: 14px;
                    font-weight: bold;
                    color: #fff;
                    margin-top: 0px;
                    margin-bottom: 6px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                h4 {
                    font-size: 13px;
                    font-weight: bold;
                    margin: 8px 0px 8px;
                    color: #e6e6e6;
                }
                p {
                    font-size: 12px;
                    margin-bottom: 4px;
                }
                span {
                    font-size: 10px;
                    color: #ddd;
                }
                .fav_product_icon {
                    float: right;
                    padding-left: 10px;
                    ion-icon {
                        font-size: 20px;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// top section
.top_list_show {
    margin-left: 0px;
    overflow: auto;
    white-space: nowrap;
    padding-top: 8px;
    margin-right: 0px;
    .fnd_card {
        width: 140px;
        display: inline-block;
        margin-right: 4px;
        .card1 {
            background: #1c58b6 !important;
        }
        .card2 {
            background: #ca9d19 !important;
        }
        .card3 {
            background: #13a648 !important;
        }
        .card4 {
            background: #227465 !important;
        }
        .card5 {
            background: #746e22 !important;
        }
        ion-card {
            margin: 0px 0px 0px 5px;
            padding: 18px 5px 18px 10px;
            color: #fff;
            .count_part {
                h3 {
                    font-size: 20px;
                    font-weight: bold;
                    margin-top: 0px;
                    margin-bottom: 15px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .icon_fg {
                ion-icon {
                    font-size: 16px;
                    margin-bottom: 7px;
                }
                p {
                    margin-bottom: 0px;
                    font-size: 12px;
                    color: #ddd;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
